[2017-11-22 15:49] schickling opened #1 "Build-time importing"
As a next step importing can also be implemented at build time using Babel or Webpack.

[2017-11-22 19:04] zephraph commented on #1
Is the intent to extend a currently existing graphql loader, setup a loader that only does this transform, or create an entirely new loader that also has this functionality?

[2017-12-04 19:27] schickling opened #4 "Node module resolution"
Allow the following:

[code]

This could potentially break the existing API by enforcing `./` for local imports.

Would be great to hear more thoughts on this feature proposal!

[2017-12-04 19:41] schickling opened #5 "Import from HTTP endpoints"
I've heard people asking about the option to import from HTTP endpoints. While this is convenient in simple scenarios, most real-world applications require you to have your schema available locally avoiding the heavy network overhead to download the schema definition from a remote server.

I leave it up for discussion whether this should be implemented or not.

[2017-12-08 03:17] schie opened #6 "Cyclic Dependencies"
Hello!

I'm running into an issue possibly related to _cyclic dependencies_. Any Help would be really appreciated.

#### Example files
Here's a simple example of what I'm trying to do:

[code]

[code]

#### Error
Here's the error I'm getting once I start the application. Am I doing something wrong?
[code]

It will run start and run as expected if the types are in the same file, but I have quite a

[2017-12-08 09:08] schickling commented on #6
Hi @schie that definitely looks like a bug. Would be great if you (or someone else) create a PR for this adding some new tests and a fix. 🙌

[2017-12-10 02:27] schie commented on #6
@schickling I'll try to take a crack at it 😄

[2017-12-12 09:27] giautm opened #7 "Incorrect import with typescript."
I have to do this to make this module works (https://github.com/apollographql/graphql-tools/issues/273#issuecomment-281481217)
[code]

if I did as the example, i will be got:
[code]

node: v8.9.1
npm: 5.5.1

[2017-12-13 12:44] gaurav107 opened #8 "Support nested imports"
For the following schema in `a.graphql`
[code]
I'd like to be able to do something like this:
In `b.graphql`
[code]
and that query automatically gets appended to my other queries in b.graphql

[2017-12-17 22:38] kbrandwijk opened #10 "Bug with filtering types when using '*'"
Given the following schemas:
[code]
The resulting schema contains all types from all schemas, even though C3 is not used.
Now changing the import in schema A to:
[code]
Suddenly, C3 is correctly filtered out.

[2017-12-18 02:33] kbrandwijk opened #13 "Unexpected behavior importing"
1. Interface implementations:
I don't understand the intended behavior of the `interface-implements` fixture. Why is it expected that when importing an interface, `graphql-import` does also import all implementations of that interface?

2. Missing types
If you import a Type, that has fields of a Type that is not imported, that Type gets imported automatically. I think this kind of implicit behavio

[2017-12-18 05:18] kbrandwijk opened #14 "Import should also perform schema validation"
Either directly, or using a separate method. I think it's very helpful to perform standard schema validation. If you agree, I have some WIP on the matter using the standard graphjs/validate method with some custom rules.

[2017-12-18 05:34] kbrandwijk opened #15 "Add error handling for missing types or schemas"
- A missing schema file will throw an unhandled error on trying to open the file
- A missing type that you try to import is silently ignored

[2017-12-18 06:18] kbrandwijk commented on #5
I think #11 is a good compromise. If people insist on having a use case where they don't have the schemas as local files, it will at least leave the burden of supporting every possible scenario for actually going from `import something from 'url'` to actually downloading (proxy, authentication, etc. etc.) out of `graphql-import`.

[2017-12-18 06:19] kbrandwijk commented on #4
Also see #11. Moving `import mySchema from 'github-graphql-binding'` into the code file, and leaving `# import Repository from 'mySchema'` in the actual schema.

[2017-12-18 10:21] schickling commented on #10
Thanks for reporting this. @kbrandwijk would you (or someone else) mind creating a PR with a new test case for this including a fix?

[2017-12-18 10:35] schickling commented on #13
Thanks for bringing this up @kbrandwijk. The importing behaviour so far is implemented in a very "broad" way as you mentioned in (1) and (2). This behaviour is expected for a lot of tools such as import types for the sake of selective schema stitching/delegation.

I'd be very interested about the use cases that require a different setting. I suggest to add some kind of configuration functionality

[2017-12-18 10:37] schickling commented on #14
Yes, sounds great! Would be good to come up with some configuration API (as mentioned in #13) for these kind of settings.

[2017-12-18 11:23] kbrandwijk commented on #13
Let's compare it to the closest thing: JS/TS imports. If you import a function that uses another function from that same file, you don't have to import that explicitly, so regarding 2, I have changed my mind.

Regarding 1, I see no benefit in importing other implementations of an interface, if I'm not using them in my final schema.

Regarding 3, yes that would need to be a setting. I want to disab

[2017-12-18 11:30] kbrandwijk commented on #10
I will take this into account with the rework discussed in the other issues regarding default/configurable behavior.

[2017-12-18 12:02] schickling commented on #13
I think you rather have to think in terms of bundling than in terms of importing, since JS/TS still has import functionality at runtime.

[2017-12-18 14:13] kbrandwijk opened #16 "More control over importing behavior"
Proposal (based on #13, #14 and #15):

Add optional parameter to `importSchema`:
[code]
Most are self-explanatory, `strict: true` would fail on missing schema files or missing imported types, otherwise silently ignored. `validate: true` would run the linter.

[2017-12-18 14:15] kbrandwijk commented on #8
@schickling I think this would be a very valuable addition, also based on recent questions on Apollo Slack by others regarding stitching schemas and needing root query/mutation/subscription fields. Are you okay to move ahead with this?

[2017-12-18 14:16] kbrandwijk commented on #14
Waiting for approval of #16.

[2017-12-18 14:16] kbrandwijk commented on #15
Waiting for approval of #16.

[2017-12-18 14:16] kbrandwijk commented on #13
Waiting for approval of #16.

[2017-12-18 14:17] kbrandwijk commented on #1
Also see https://github.com/graphql-cli/graphql-cli/issues/68

[2017-12-18 18:58] schickling commented on #16
That looks good. Would be great if you could update your proposal to include default values.

[2017-12-18 19:00] schickling commented on #8
I'd love to see some more examples for this and explore other syntax options.

@stubailo @freiksenet do you have an opinion about this?

[2017-12-18 19:37] kbrandwijk commented on #8
Apart from `# import Query.feed from 'a.graphql'` (graphql path style) and `# import feed from 'a.graphql/Query'` (js/ts style) I don't see many other options to define this type of import. Also looking forward at getting more input.

[2017-12-18 19:59] kbrandwijk commented on #16
@schickling Done.

[2017-12-19 15:01] nikolasburk opened #17 "Import is broken in latest release"
The last release seems to be broken. I had a database schema with a `Post` type and was referencing it from my application schema like so:

[code]

When running the app, I got the error message that the `Post` type was not found in any of the schemas.

Rolling back to version `0.1.5` fixed the problem.

[2017-12-19 16:14] #17 closed

[2017-12-19 16:45] marktani opened #19 "Docs link is broken"
In the docs on https://graphql-import.now.sh, there's a clickable link to https://graphql-import.now.sh/src/index.test.ts, which returns 404.

[2017-12-19 16:58] kbrandwijk commented on #19
Fixed in ff63908 and 3abf49e.

[2017-12-19 16:58] #19 closed

[2017-12-20 18:42] #6 closed

[2017-12-25 05:40] kbrandwijk opened #20 "Revert commit; docs deploy broken"
@schickling Please revert commit 964a670dd0b62c0e2b8ba8938dcebc32a2243bcc. The `now.json` file is copied to the docs folder for deployment, which is now broken.

[2017-12-27 09:32] #20 closed

[2018-01-04 13:23] schickling commented on #8
After thinking a bit about this and seeing more use cases, I like the initially proposed syntax:

[code]

There are two ways this can be implemented:

1. Using `extend type`

[code]

[2018-01-04 13:33] kbrandwijk commented on #8
Another edge case:
- [ ] Root Type doesn't exist yet

Question:
When you import a type that already exists, what happens now?

[2018-01-04 13:38] schickling commented on #8
I suggest, it should throw an error.

[2018-01-04 15:25] jlengstorf commented on #8
Is this limited to certain types? I can see this getting out of hand if something like this is allowed:

[code]

[2018-01-04 17:03] kbrandwijk commented on #8
@jlengstorf It's limited to root types (Query, Mutation, Subscription).

[2018-01-04 20:23] #8 closed

[2018-01-05 05:23] giautm commented on #1
Hi, I copied from babel-plugin-inline-import plugin to create a new one: [`babel-plugin-graphql-import`](https://github.com/giautm/babel-plugin-graphql-import)

[2018-01-05 11:19] kbrandwijk opened #27 "Setup code coverage checks"
Now we have 100 test coverage, we can automerge all deps.
Also, let's setup a code coverage integration (preferably coveralls) to report on PR's.

[2018-01-05 23:33] kbrandwijk commented on #10
This is already fixed in the latest release.

[2018-01-05 23:33] #10 closed

[2018-01-05 23:36] kbrandwijk commented on #7
This is unrelated to `graphql-import`, but has to do with resolving file paths when building typescript.

[2018-01-05 23:36] #7 closed

[2018-01-05 23:56] kbrandwijk commented on #5
Closing this as something that will not be part of the core graphql-import.

[2018-01-05 23:56] #5 closed

[2018-01-06 00:33] #4 closed

[2018-01-06 01:08] kbrandwijk opened #31 "Update docs for object import"

[2018-01-06 01:09] kbrandwijk commented on #15
Covered by #16

[2018-01-06 01:09] #15 closed

[2018-01-06 01:09] kbrandwijk commented on #14
Covered by #16

[2018-01-06 01:09] #14 closed

[2018-01-06 01:10] kbrandwijk commented on #13
Covered by #16

[2018-01-06 01:10] #13 closed

[2018-01-06 01:11] kbrandwijk commented on #1
This has also been implemented by `graphql prepare`.

[2018-01-06 01:11] #1 closed

[2018-01-06 15:02] giautm opened #32 "Missing directive definition after import"
Hi. I trying import file containt directives. After import, directive filtered from the output.

[2018-01-06 15:36] giautm commented on #1
@kbrandwijk : where i can found document or pr related to that command line?

[2018-01-06 17:49] #32 closed

[2018-01-06 18:35] kbrandwijk opened #34 "Add missing test cases for fix #32"

[2018-01-10 07:50] Nexxado opened #39 "Expose graphql errors"
Using this library i got the following error when trying to run an `graphql-express` server:
`GraphQLError: Syntax Error: Cannot parse the unexpected character "/".`

Using a typedefs as a string and using only `graphql-tools` i got the following error:
`Error: "login" defined in resolvers, but not in schema`
Much easier to understand what went wrong.

Is it possible to expose these kinds of error

[2018-01-10 07:56] kbrandwijk commented on #39
The only thing `graphql-import` does is process `# import` statements in schemas. I think this question should go into `graphql-yoga`, if you are experiencing it there.

[2018-01-10 08:30] Nexxado commented on #39
Does `graphql-import` uses another library to parse `.graphql`/`.graphqls` files?

[2018-01-10 14:57] marktani commented on #8
What's the final syntax chosen here? I wasn't able to find an example in `README.md`

My use case is that I want to define queries and mutations in separate `queries.graphql` and `mutations.graphql` files. I want to tie them together in a final `schema.graphql` file.

[2018-01-10 14:58] marktani commented on #8
Found it in the fixtures:

[code]

[2018-01-11 19:55] pie6k opened #42 "Type extension does not work"
Assume

`main.graphql`

[code]

`User.graphql`

[code]

In resulting compiled schema Query has only version. There is no `me` field added.

[2018-01-11 21:36] kbrandwijk commented on #42
This is a limitation coming from graphql: https://github.com/graphql/graphql-js/issues/922. I believe that extend definitions should be taken into consideration, but there has not been any recent activity on actually making that happen.

[2018-01-11 21:46] marktani opened #43 "How can I comment out import statements?"
I want to "comment out" import statements, how does that work?

What about this:

[code]

[2018-01-11 21:56] kbrandwijk commented on #43
https://github.com/graphcool/graphql-import/blob/master/src/index.ts#L34

Your best bet is to change the word import 😄

`# impport User from file.graphql` works fine

[2018-01-12 08:54] Nexxado commented on #39
I found out what the issue was.
it seems that between `v0.1.9` and version `v0.3.1` you stopped supporting `.graphqls` files and only support `.graphql` files.

It's the added `isFile()` check found [here](https://github.com/graphcool/graphql-import/blob/master/src/index.ts#L18) that checks if the file has `graphql` extension name.

[2018-01-14 21:15] mwoelk opened #45 "File consisting only of imports throws error"
I've tried to split my whole schema to be able to put the schema-parts and corresponding resolvers together.

I ended up with a file structure like this:
[code]

And schemas looking like this:
`user-schema.graphql`
[code]

My main schema ended up being empty (except for the import statements):

`complete-schema.graphql`
[code]

Which leads to an `Syntax Error: Unexpected <EOF>`.

It only works if

[2018-01-15 14:11] Huvik commented on #42
I would like it too, it could be great feature 👍

[2018-01-15 14:11] marktani commented on #42
A similar but different use case is extending imported types (like `User`) by a field:

[code]

Does this work?

[2018-01-15 14:50] kbrandwijk commented on #42
No that's the same situation. The `extend` definition is simply ignored by `graphql` when we read in the schema. This is something that needs to be implemented by `graphql-js` first.

[2018-01-15 15:28] schickling commented on #42
@IvanGoncharov any idea when this functionality will land?

[2018-01-15 20:17] pie6k commented on #42
Good use case of this could be having many files in project extending `query` and `mutation` type as it would lead to well organized, modular files structure.

[2018-01-16 10:54] #45 closed

[2018-01-16 11:07] mwoelk commented on #42
Right now we can simulate the behavior at least for Query-, Mutation- and Subscription-Type by importing like:

[code]

Take a look at the following test cases:
* [Merged root field](https://github.com/graphcool/graphql-import/tree/master/fixtures/merged-root-fields/)
* [Empty root schema with only imports](https://github.com/graphcool/graphql-import/tree/master/fixtures/imports-only)

[2018-01-16 14:12] IvanGoncharov commented on #42
@schickling As always then somebody implements it 😄
Note: https://github.com/graphql/graphql-js/pull/1199 introduce a big change in how `extend` works so it's better to wait until it either merged or rejected.

[2018-01-18 21:53] ericnograles opened #49 "importSchema strips away in-line comments for GraphiQL documentation"
Hey guys,

Nice work with this module, but there was one issue I spotted. It seems that the parsing removes in-line comments that are intended to be documentation for GraphiQL.

As an example, say I have this type

[code]

It turns out like so after `importSchema` does its thing:

[code]

I'm guessing as part of post processing, this library just outright strips comments...do we have an escape hat

[2018-01-18 23:55] kbrandwijk commented on #49
The new style for adding descriptions to fields and types is using `"""My description"""`. Those descriptions will also show up as descriptions in the graphql-playground, for example.

You are using comments instead. Those have no meaning in `graphql`, so they will be stripped.

[2018-01-19 13:00] ericnograles commented on #49
Thanks for the info @kbrandwijk, got some catching up to do with the latest going-on's of GQL, but the triple quotes works like a champ!

[2018-01-19 20:06] kbrandwijk commented on #49
@schickling I don't agree. A comment line has no meaning anymore in the `graphql-js` version we use. This also means that they are already missing when we parse the schema for the first time. Preserving them would basically mean recreating support for the old 'comment' style descriptions.
Without that support, we simply have no way of determining what the comment even belongs to, plus we have no w

[2018-01-23 10:52] moritzmorgenroth opened #51 "Idea: Redesign type definitions/code generation to avoid repetitive type definitions on server and prisma side"
Hi, I have an idea/suggestion. I find it a little bit tedious to always copy/paste my graphql datamodels from the prisma backend to the server graphql type definition file, 90% of my models are reused anyway. Wouldnt it be possible to simply add an anotation like "expose" and "private" to the prisma type definitions and their parameters and include the types in the code generation process? with de

[2018-01-23 10:57] emipc commented on #51
I agree. As 90% is reused, it might be convenient to set them as public by default and to add a directive like `@private` to not expose some field.

Something like:

[code]

[2018-01-23 14:55] iamlothian opened #52 "Typescript AST baking"
I am trying to make use of graphql-import with typescript, It loads files fine but I still have to find a way to copy the .qraphql files to a dist folder... which mean involving some more complex build steps. And the idea of maintain both a AST version and AST.ts string version is not ideal.

While i haven't co sidered the other existing proposals, I'm considering trying out something like the fol

[2018-01-23 16:30] kbrandwijk commented on #52
You can use the `prepare` command from `graphql-cli` to process the schema imports at build time, and save a .graphql file with all the imports processed.

[2018-01-23 16:35] kbrandwijk commented on #51
I like the idea of supporting directives to decide with parts of the schema to put in the final schema part. I think the process should be similar to how `graphql-import` currently processes the schema, but instead of `import` statements it would look at directives. So you would still have an input file and output file, but the processing would happen on different conditions.

The only problem is,

[2018-01-23 16:40] iamlothian commented on #52
@kbrandwijk, Thanks, and sorry if i wan't clear, I just made an EDIT as you posted your response.

I have found the `graphql-cli` documentaion a bit shallow, in terms of defining the proper use case in a project.

I'll admit that some parts of the graphql ecosystem are still a little unclear to me so it's possible i'm thinking about this the wrong way, correct me if this seems like a ludicrous ide

[2018-01-23 16:45] kbrandwijk commented on #52
@iamlothian Thank you for clearing that up. Currently, there are two main components. There's `graphql-import`, for processing import statements (.graphql in, .graphql out), and there's `graphql-static-binding`, used to create and ORM-like class (js or ts) based on your .graphql schema for easy use in your code.

Some of the generators used for the bindings also include the schema in the .js/.ts f

[2018-01-23 16:50] iamlothian commented on #52
@kbrandwijk  Thanks, that does sound like what i'm looking for. Let me do a little catch up reading before I suggest adding or building something new.

[2018-01-25 02:49] wtgtybhertgeghgtwtg opened #57 "Consider package imports."
Consider the example from `graphql-binding-github`.
[code]
It requires an up to date `github.graphql`, which is generated, to exist next to `app.graphql`, which is not.  `github.graphql` also has to be put into version control and manually regenerated whenever the GitHub GraphQL endpoint is updated.
However, `graphql-binding-github` exports a `github.graphql`.  Using that, I wouldn't have to put i

[2018-01-25 19:24] schickling commented on #57
I remember @kbrandwijk working on something very similar?

[2018-01-26 08:12] divyenduz opened #59 "Import is not required in graphql-yoga schema definition"
I was working on a project that started from the boilerplate and hence my schema has the following line at the top

`# import Post from "./generated/prisma.graphql"`

Initially, I mistook this for a comment (because #, coloring from my editor) but later I ran into `graphql-import` and understood that this is an import.

What I noted was that import is not required as I am able to use other types f

[2018-01-26 12:24] kbrandwijk commented on #59
This might work because `graphql-import` detects missing types. So because you import `Post` from `prisma.graphql`, it will also import other missing types you use in your schema. This is a side effect of the logic that detects types used in your imported types (so if Post uses another field type, it will import that as well). If you remove the line completely, it won't work anymore.

[2018-01-26 13:14] marktani commented on #59
One more thought is that `Post` has a relation to `User`, so importing the `Post` type will also import `User` because of the `author: User` field on `Post`.

If you'd add a new type `MyType` that has no relation to `User` or `Post`, and your `schema.graphql` looks like this:

[code]

would you then get an error?

[2018-01-26 13:17] kbrandwijk commented on #59
Very good @marktani, that seems way more plausible.

[2018-01-26 14:54] kbrandwijk opened #61 "Add docs for importing root fields"
`# import Query.* from '....'`
`# import Query.posts from '....'`
etc.

[2018-01-26 16:56] divyenduz commented on #59
Yes, indeed, in my case Post touches everything else. Your explanation explains the behavior I am running into and I can confirm that MyType (independent of Post) results in an error.

Thanks for sorting this out for me @marktani and @kbrandwijk.

Closing this one.

[2018-01-26 16:56] #59 closed

[2018-01-26 21:02] ccnixon commented on #16
Hey guys - any plans on taking a look at this in the near term? My use case:

I'm hoping to use [graphql-s2s type inheritance](https://github.com/nicolasdao/graphql-s2s#type-inheritance) in tandam with import statements but the validation step is failing. It would be great to be able to set a flag to bypass the schema validation step and and just compile the schema. Thanks!

[2018-01-29 06:51] divyenduz commented on #42
Another use case for this would be to extend and add "future" stuff (say, that Prisma is yet to implement like https://github.com/graphcool/prisma/issues/60).

Currently, I am copying the original type from `prisma.graphql` and adding "future" fields to it but this will make that chunk of code more beautiful 👍

[2018-01-29 19:33] jvbianchi commented on #51
I agree with @kbrandwijk.

In my case that would make things way easier.

[2018-01-29 22:39] marktani commented on #51
My current understanding is that custom directives in `datamodel.graphql` are ignored, so they are not part of the final schema.

Can you detail how a custom directive in `datamodel.graphql` would translate to custom directives in the automatically generated `prisma.graphql`? That's not a trivial question.

[2018-01-31 14:16] kbrandwijk opened #65 "Add option for renaming types when importing"
Currently the only way to rename types in a schema is not import them, but create a new type and copy the fields. It would be very useful if one could do:

`# import House as Home from './mySchema.graphql'`

[2018-02-01 16:50] schickling commented on #65
I really liked this idea! Would be great to discuss potential side-effects and problems of this approach. @freiksenet as looked quite a lot into type renaming - what are your thoughts on this?

[2018-02-01 21:05] mjdickinson commented on #42
I need this too.  I have managed to work around by just loading **_.graphql_** files myself and passing an array of strings to makeExecutableSchema() (and using **_extend type Query_** etc. to avoid multiple declaration errors).  **graphql-tools** and **graphql** seem to handle the type extensions fine.

[2018-02-06 09:08] akoenig opened #72 "Fetching schema from remote Prisma service"
The current Prisma full-stack boilerplates are basically separated into two parts: the actual Prisma service with it's data model and the front-facing GraphQL API which sits on top. Having those two components in one project is very good for development, because you can use the Prisma CLI in order to deploy it to a local cluster a.k.a. run it as local Docker containers. For production I envision a

[2018-02-06 09:16] schickling commented on #72
Hi @akoenig. I would highly recommend a workflow that is still based on static files. In your scenario simply run the following command as part of your deployment flow (or use a `.graphqlconfig` file):

[code]

Generally, while possible, I'm hesitant to add support for the import from remote endpoint syntax, as it would (1) make `importSchema` an asynchronous function and (2) encourages/make it to

[2018-02-06 09:26] akoenig commented on #72
Hi @schickling :wave: – ah okay, cool. Sorry, didn't know that this is possible / currently the internal process. Well, this is awesome. IMHO my proposal is not necessary anymore then. Thanks for the heads-up :)

[2018-02-06 09:28] schickling commented on #72
Awesome! I'm closing this issue for now. If someone has more thoughts on this topic, I'm happy to re-open the issue.

[2018-02-06 09:28] #72 closed

[2018-02-06 13:15] lpender opened #73 "Error: Query root type must be provided #610"
I'm receiving the error:

[code]

Here is my schema:

schema.graphql
[code]

I am importing it with `graphql-importer`

[code]

Shouldn't this be valid?

[2018-02-07 06:30] raeesaa commented on #16
I am having similar use case as @ccnixon. It would be great to have an option to bypass schema validation.

[2018-02-08 20:44] ACollectionOfAtoms commented on #42
I got around this in the following way (though it may be a pain to refactor once `extend` is fixed up):

in `A.graphql`
[code]

in `schema.graphql`
[code]

So this way each file can be modular in that they will contain all their own `Query`s and `Mutations` etc.

[2018-02-10 15:53] locnguyen commented on #52
@iamlothian I just started a TS based server project and have the same directory structure as you do. Was wondering if I could define my schema in *.graphql files too and landed here. Did you find a solution?

[2018-02-12 02:05] iamlothian commented on #52
@locnguyen not yet, haven't had a chance to attempt to build something yet. It might be something i look at forking into the graphql-cli

[2018-02-15 17:57] gavinwilliams opened #84 "Does this library provide support for custom scalar's?"
I would expect to load these through my application rather than import schema's in my graphql files.

Instead I get:

[code]

[2018-02-15 18:00] schickling commented on #84
Hmm great point! I think right now custom scalars are not yet supported but would be great if you could create a PR for that. 🙏

[2018-02-15 19:42] gavinwilliams commented on #84
@schickling how would you recommend implementing this? I'm thinking of just adding an additional param with an array of custom scalar types. It doesn't look like we need to do anything with the scalar's other than to check to see if they exist.

[2018-02-15 20:03] schickling commented on #84
Just to clarify, the result of importing scalar types is that they are part of the imported SDL string. So there won't be any additional parameter necessary, it's just missing functionality right now.

[2018-02-16 09:34] gavinwilliams commented on #84
@schickling it's ok, I managed to fix this by just creating scalar .graphql files.

[2018-02-16 09:34] #84 closed

[2018-02-18 21:42] schickling opened #89 "GraphQL root level directive syntax"
In the last [GraphQL working group meeting](https://github.com/graphql/graphql-wg/blob/master/notes/2018-02-01.md#present-graphql-import) we discussed to enable GraphQL directives on a document/root level. This would allow for the following syntax which avoids the common "why is it commented out" confusion around graphql-import:

[code]

## Open questions

- [ ] Final syntax: `@import`, `defs:`, `

[2018-02-19 14:51] koliyo commented on #39
Got the same error. Very confusing error message. Please add support for `.gql` extension as well.

[2018-02-19 16:10] kbrandwijk commented on #39
@koliyo I agree to supporting `.gql`.
@Nexxado I don't think `.graphqls` is a standard extension. Where is that used?

[2018-02-19 16:19] schickling commented on #39
I'm honestly not a big fan of supporting `.gql` as well. Are there any other languages that do so as well? I worry this could be confusing to beginners who now will think "hmm, that's the difference between `.graphql` and `.gql`".

[2018-02-19 16:21] schickling commented on #89
@leebyron @IvanGoncharov do you have an opinion on whether it should be

1)

[code]

or 2)

[code]

?

[2018-02-19 16:36] relaxed-tomato commented on #73
@lpender - did you resolve this issue?

[2018-02-19 16:39] Nexxado commented on #39
@kbrandwijk [JS GraphQL](https://plugins.jetbrains.com/plugin/8097-js-graphql) plugin for Webstorm.

![screenshot_1](https://user-images.githubusercontent.com/12609607/36388332-2cf19364-15a4-11e8-88c4-f7e7fc74a048.png)

[2018-02-19 19:16] ciocan opened #90 "Error when using with amazon lambda"
I get this in logs when I try to use it with amazon lambda:

[code]

[2018-02-19 19:24] IvanGoncharov commented on #89
I think 1 is incorrect variant since it implies that `Post`, `Comment` is values of some kind of enum and you can't define `@import` directive with defining this enum first.

Anyway, I think  we should start by discussing how to:

It has its own set of problems, e.g. you can't have multiple directives at the same location: http://facebook.github.io/graphql/October2016/#sec-Directives-Are-Unique-Pe

[2018-02-19 19:39] schickling commented on #90
Can you share your repo url + ideally the packaged zip file? Also, can you reproduce the problem with the packaged zipfile in a lambda docker container?

[2018-02-19 21:08] marktani commented on #89
I actually think that 2. is better for the same reason you mentioned.

Otherwise, where is the enum definition coming from?

[2018-02-19 21:36] kbrandwijk commented on #39
@schickling Supporting multiple extensions would not be confusing to beginners, if all the docs and gettings starteds just use `.graphql` as extension.

However, for more advanced users integrating this, that have existing files with a different extension, I see no harm in supporting it.

[2018-02-20 10:46] ciocan commented on #90
Found the issue. Wasn't graphql-import.
In the default webpack config of serverless graphql example it does not copy automatically the .graphql files into source folder. I used copy-webpack-plugin to do the trick.

`  plugins: [
    new CopyWebpackPlugin([
      {
        from: 'src/types/',
        to: 'types'
      },
      {
        from: 'src/schema.graphql',
        to: ''
      }
    ], {}),

[2018-02-20 10:46] #90 closed

[2018-02-20 10:55] schickling commented on #90
Would be great if there was a webpack loader that works with `graphql-import`.

[2018-02-21 17:26] raeesaa commented on #16
@kbrandwijk Any updates on this?

[2018-02-23 17:22] sorenbs commented on #89
As Ivan explained, I don't think either will work. GraphQL only support one directive with a given name. I don't see this changing anytime soon.

As such, a single `@import` directive must support multiple imports to make this work.

### Using multi-line string

[code]
or
[code]

This would be even nicer if GraphQL would support the following syntax:

[code]

This could be achieved in two ways

1.

[2018-02-23 17:45] IvanGoncharov commented on #89
@sorenbs It was just an example of why you need to discuss the possibility of document level directive first because it's the main problem right now.
You can put directives only in allowed places (search for `directives` in [this section](http://facebook.github.io/graphql/draft/#sec-Appendix-Grammar-Summary.Document)).

The closest thing you can do at the moment is to write:
[code]
And you definit

[2018-02-23 18:34] sorenbs commented on #89
@IvanGoncharov - I completely agree and volunteered to drive top-level directives at the latest working group https://github.com/graphql/graphql-wg/blob/master/notes/2018-02-01.md#discuss-subscriptions-for-live-queries

This issue serves as motivation for the feature :-)

[2018-02-24 18:31] marktani opened #93 "Make TypeScript type definitions from application schema work with Imports from Prisma"
@nickluger commented on [Fri Feb 23 2018](https://github.com/graphcool/prisma/issues/1968)

1. Define your app schema, and use imports from `prisma.graphql` in it:

[code]

2. Run
[code]
or just `yarn graphql prepare` if you have a proper definition in your `graphqlconfig.yml`
Mine looks like this
[code]

Result:

[code]

[2018-02-24 18:56] schickling commented on #93
Hi @nickluger, I've just tried to reproduce this problem locally but it's working for me. Can you provide a repo with a minimal reproduction? Ideally with pinned versions.

[2018-02-26 13:14] sorenbs commented on #89
After more internal discussion we reached the conclusion that it is not worth pursuing replacing the current comment based syntax with a directive based syntax.

The main points against this change:

1. The change requires at least two changes to the GraphQL spec, meaning a realistic timeline is 6+ months.
2. Even with the changes to the GraphQL spec, the resulting syntax is still more complicated

[2018-02-26 16:50] djeeg opened #94 "parseSDL startsWith import"
Hi, thanks for the library! starting to use it to break apart my schema file, looks very promising

Small question, would you be open to changing this line?

https://github.com/graphcool/graphql-import/blob/master/src/index.ts#L63

`.filter(l => l.startsWith('# import') || l.startsWith('#import'))`

to (ie spaces after import)

`.filter(l => l.startsWith('# import ') || l.startsWith('#import '))`

[2018-02-26 17:41] schickling commented on #94
Absolutely, great point! Please create a PR! :)

[2018-02-27 09:18] #94 closed

[2018-02-27 22:53] jgeschwendt opened #96 "Possibly add a webpack loader file to the npm package"
I'm currently using the snippets below as a custom Webpack loader, as it makes more sense for me to handle the graphql import resolution at compile time (I'm using a `serverless-webpack` + `typescript` setup)

Adding a native webpack loader to the npm package might be helpful for Webpack projects.

[code]
[code]
[code]

[2018-02-28 00:30] grahamb opened #97 "Use in conjunction with graphql-tools"
[`graphql-relay-tools`](https://github.com/excitement-engineer/graphql-relay-tools) is a "library that allows the easy creation of Relay compliant servers using the GraphQL type language", used in conjunction with [`graphql-tools`](https://github.com/apollographql/graphql-tools). It provides helper functions for dealing with Relay connections, object identification, etc.

graphql-relay-tools & gra

[2018-02-28 04:29] kbrandwijk commented on #96
That's a nice idea. I created something similar a while back. Feel free to check it out here: https://github.com/supergraphql/graphql-server-static-webpack-js. It works with both `graphql-import` and `graphql-static-binding`.

[2018-02-28 09:24] schickling commented on #96
Hi @jgeschwendt – I completely agree!

Would you be open to creating a PR adding a webpack loader for `graphql-import`?

[2018-02-28 13:50] kbrandwijk commented on #96
@jgeschwendt And if you do, please consider the interaction between `graphql-import` and `graphql-binding`. Both are based on a .graphql file. I solved this in a way that I don't particularly like, so I'm very open to suggestions, as I had limited experience with webpack when throwing together that POC.

[2018-02-28 23:38] jgeschwendt commented on #96
I'll take a crack at it.

Here is an example project — https://github.com/jgeschwendt/serverless-boilerplate
& the forked branch I'm working on — https://github.com/jgeschwendt/graphql-import/tree/webpack-loader

You can see the app running here — https://8j5cnifnia.execute-api.us-east-1.amazonaws.com/dev/playground

You'll need to change
`https://8j5cnifnia.execute-api.us-east-1.amazonaws.com/` t

[2018-03-01 05:52] nickluger commented on #93
Was busy, but there you go: https://github.com/nickluger/graphql-import-from-prisma

[2018-03-01 12:18] schickling commented on #93
@kbrandwijk from looking into this, the problem seems to be in the `prepare-binding` CLI part which right now doesn't seem to support `graphql-import` (see here in `src/schema.graphql`).

Can you push a fix for this? This should solve @nickluger's problem. :)

[2018-03-01 13:21] schickling commented on #96
Thanks for your great work on this @jgeschwendt. To keep things a bit more organized I've set up a new repository for `graphql-import-loader`: https://github.com/graphcool/graphql-import-loader

I've also added you as a collaborator so feel free to keep improving the package! Would also be create if you could add a simple `example` folder/application to the repo which demonstrates the usage.

[2018-03-01 13:21] #96 closed

[2018-03-01 14:58] schickling commented on #93
@nickluger this should be fixed by installing `v2.15.8` of the `graphql-cli`.

I was also talking to @kbrandwijk via Slack who suggested to use `prepare-bundle` to optimize the build speed. Can you please elaborate a bit @kbrandwijk?

[2018-03-01 14:58] #93 closed

[2018-03-01 15:20] kbrandwijk commented on #93
@nickluger Even though the latest `graphql-cli` release will also run `prepare-binding` on schemas with import statements, `prepare-binding` is actually optimized to run _after_ `prepare-bundle`.
You can achieve this by adding `prepare-bundle` to your `.graphqlconfig` like this:
[code]

Now you can use the schema with imports already processed (`src/generated/app.graphql`) directly. An additional

[2018-03-01 16:53] nickluger commented on #93
That solved the issue. Great thanks go to you @kbrandwijk and @schickling .

[2018-03-02 10:38] marktani commented on #93
Would it make sense to make this configuration the default one for `prisma init` or the boilerplates?

[2018-03-02 10:46] schickling commented on #93
I don't think it's the default use case that people want to get a binding for their actual GraphQL server (at least when getting started outside of a microservice architecture). Do you agree @nickluger?

[2018-03-02 19:11] nickluger commented on #93
Personally, i would use it in every _TypeScript_ project.  I cannot imagine a reason not to have types for my models. But i cannot speak for default use cases.

[2018-03-08 16:39] johannpinson opened #100 "Fix comment in generated schema"
I have a little bug about the syntax in Visual Studio Code, because one comment isn't generated to the new line:

https://github.com/graphcool/graphql-import/blob/4458d2955d9319ca2527b1a770438104a5f3c092/fixtures/complex/b.graphql#L9152-L9156

This is the actual render in VSC:
![capture d ecran 2018-03-08 a 17 29 40](https://user-images.githubusercontent.com/2202989/37162735-53c34f96-22f6-11e8-9f7

[2018-03-08 16:51] #100 closed

[2018-03-08 16:51] marktani commented on #100
Issue moved to [graphcool/prisma #2047](https://github.com/graphcool/prisma/issues/2047) via [**ZenHub**](https://www.zenhub.com/)

[2018-03-15 02:01] wtgtybhertgeghgtwtg opened #104 "Cannot use object import when providing filepath for `schema`."
The title's confusing, so I'll just give an example.
[code]
[code]
The issue is that it tries to pull `dirname/foo` from `schemas`.

[2018-03-27 13:51] ahmadsn26 commented on #84
Hi gavin could you please share a bit of details on how to get this done ... i am also facing the same thing and it would be of great help if i can add a custom scalar type in my case its a json type

[2018-04-03 11:56] SpaceK33z opened #115 "Duplicate imports from the same imported file do not work"
Given these GraphQL files:

**all.graphql**

[code]

**a.graphql**

[code]

The actual output is:

[code]

But the expected output is:

[code]

In this simple scenario you'd perhaps say: just merge those two imports together. However, this is of course a reduced test case. I want to make a separate file per entity (e.g. user, restaurant) and per file, import the generated Prisma file `# import Que

[2018-04-06 16:25] jnwng commented on #73
i believe

https://github.com/graphql/graphql-js/blob/92cb4a039fd0fd8181c4fc16a7caefb8f41fcbe5/src/utilities/buildASTSchema.js#L225-L241

is where `graphql-js` parses out the proper types, and here is where it defaults back to `Query` if this SchemaTypeDefinition isn't set:

https://github.com/graphql/graphql-js/blob/92cb4a039fd0fd8181c4fc16a7caefb8f41fcbe5/src/utilities/buildASTSchema.js#L171-L17

[2018-04-07 15:03] schickling commented on #115
Thanks a lot for bringing this up @SpaceK33z. Yeah a PR with a failing test would be a good first step, maybe someone else can pick it up and provide a full fix then?

[2018-04-08 13:34] schickling opened #129 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-04-09 06:55] timsuchanek opened #130 "Proposal: Automatic imports"
When using `graphql-import` together with a Prisma Service, a common situation that a developer finds herself in is copying over type names.

This happens when you just want to "forward" the underlying service types to the resulting application schema.

While the current explicit nature of `graphql-import` provides good readability and maintainability, it requires in certain cases a lot of boilerp

[2018-04-12 08:50] nikitaulshin opened #133 "Unexpected behavior when importing a schema"
Hello!
I'm using your awesome library to split my server-sice (NodeJS & TypeScript) code.
Unfortunately I faced an issue with import.

I have this .graphql file:

[code]

And I'm trying to import it in this way:

[code]

But I'm getting an incorrect result:

[code]

No schema. Any suggestions on this?

Thank you!

[2018-04-12 22:56] LawJolla opened #134 "Unable to import Query/Mutation from nested schemas"
E.g.
[code]

[code]

will not import Mutation.createPost or throw an error.  Please let me know if an example repo would help.  Thank you!

[2018-04-21 18:50] SpaceK33z commented on #115
@schickling thanks, I have since made a PR with the full fix :), see https://github.com/graphcool/graphql-import/pull/140

[2018-04-21 22:33] tjpeden commented on #43
I've had success with
[code]

[2018-04-22 05:23] ryannealmes opened #145 "Circular dependencies with multiple files"
Importing files with circular dependencies does not work when importing multiple `.graphql` files.

I wrote some simple functionality that is broken up into multiple files. The code below - user and team both relate to each other.
[code]
I then tested the same code in a single file.
[code]
Single schema file
[code]
This works. Any chance this can be extended to work with multiple files?

[2018-04-23 20:59] mtoso opened #146 "Working with Jest"
Hello thanks for this work. I am trying to to run tests with Jest but they are failing when i have an import statement inside my schema to import another graphql type def.
Any suggestions?

Thanks

[2018-04-23 23:29] mfix22 opened #147 "Schema map error - TypeError: Cannot read property 'split' of undefined"
If the top level schema name is passed in as a file, say `src/schemas/user.graphql`, and `user.graphql` only has a single import `#import * from 'shared'`, and the `schemas` map is `{ shared: sharedSchemaString }` an error occurs:

[code]

because this line: https://github.com/graphcool/graphql-import/blob/master/src/index.ts#L200 returns
`path.resolve(path.join(dirname, m.from))` instead of `m.fr

[2018-04-24 01:25] engfragui commented on #146
Example:

In `data-sources/data-source-1/schema1.graphql`, at the beginning of the schema:
`# import { ImportedType } from 'data-sources/data-source-2/schema2.graphql'`

All good when running our graphql server (server runs from `/Users/<user>/Projects/graphql-data-sources` and the import is resolved correctly as `/Users/<user>/Projects/graphql-data-sources/data-sources/data-source-2/schema2.graph

[2018-04-24 15:10] kMeillet commented on #146
You can try this : https://github.com/kMeillet/jest-graphql-import

Copy "jestGraphql.js" into your project and Jest configuration in "package.json" with new transformer :

[code]

[2018-04-24 23:50] engfragui commented on #146
Thank you @kMeillet. Unfortunately the transformer didn't help.
However, jest is able to correctly resolve the import in our graphql schema if the path in the import makes sense from the test folder.

If this is the import:
`
# import { SomeType } from '../data-source-2/schema2.graphql'
`
then the tests work, so it looks like importSchema is working correctly.

Our issue is that the relative path

[2018-04-25 00:14] engfragui commented on #146
I was able to make this work by replacing

`
const typeDefs = importSchema( resolve(__dirname, '..', 'schema2.graphql'), );
`

with

`
const typeDefs = require('../schema2.graphql');
`

in my jest test and using @kMeillet's `transformer.js`.

Thank you @kMeillet! 🍻

[2018-04-25 01:30] #146 closed

[2018-04-26 08:55] SpaceK33z commented on #134
Hey, this is a duplicate of #115. I made a PR to fix this issue, see #140.

[2018-04-26 18:40] #147 closed

[2018-04-26 18:40] schickling commented on #129
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-04-26 18:43] schickling commented on #147
:tada: This issue has been resolved in version 0.5.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/graphql-import)
- [GitHub release](https://github.com/graphcool/graphql-import/releases/tag/v0.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-04-26 18:43] #129 closed

[2018-04-26 18:43] #115 closed

[2018-04-26 18:46] schickling commented on #134
This should be fixed by now thanks to @SpaceK33z! 🎉

[2018-04-26 18:46] #134 closed

[2018-04-27 07:28] dilipkumar2k6 opened #152 "graphql schema import Error: Type “Contact” not found in document"
I use `graphql-import` to load graphql schema written in separate file. I have more than 40+ individual schema files however with surprise it doesn't recognize `Contact` type I have. Following are more details.
[code]
Note: contact.graphql and seller.graphql are in same directory

Following is code to import schema.
[code]

While running server, I get following error. I have no clue why? Any help

[2018-04-28 04:37] dilipkumar2k6 commented on #152
Everything started working fine when I exported below into my index.graphql.

[code]
Seems like I was missing this basic.

[2018-04-28 04:48] dilipkumar2k6 commented on #152
After going through my big schema list, I realized that two `graphql` file has same schema name as `Seller` (in different location) that was causing conflict.

Learning is, even we can organize `graphql` files into different logical directory structure, but we have to keep unique `type` :-)

[2018-04-28 04:48] #152 closed

[2018-04-28 21:51] loicplaire opened #153 "Apollo Engine cacheControl directive not found in schema.graphql"
FYI, I initially raised this issue on [graphql-yoga](https://github.com/graphcool/graphql-yoga/issues/273).

I setup a repository with an example of the issue I am running into: https://github.com/loicplaire/graphql-yoga-engine-issue

When I use the `@cacheControl` directive in my `schema.graphql` file, I get the following error:

[code]

My assumption is that [`graphql-import`](https://github.com

[2018-04-30 08:46] #61 closed

[2018-04-30 08:57] schickling commented on #153
That's a great point @loicplaire. I'm looping into @martijnwalraven who might have an idea for this.

[2018-04-30 12:00] martijnwalraven commented on #153
This seems like an issue specific to `graphql-import`. I don't completely understand what [this code](https://github.com/graphcool/graphql-import/blob/425ec6ee7d4c82b2c771d0bac43fd451ad251150/src/definition.ts#L170) is trying to do, but it seems wrong to me. Schema directives are not defined as part of the schema, so you won't find a `DirectiveDefinitionNode` for `cacheControl`.

[2018-04-30 12:54] schickling commented on #153
(So far) `graphql-import` is meant to operate purely on SDL documents. Maybe a pre-compile step could be a possible solution to generate a directive definition for `cacheControl` (or other directives) so `graphql-import` can pick it up?

[2018-05-04 03:49] lfades commented on #57
Oh I just saw this issue it's related to this [PR](https://github.com/graphcool/graphql-import/pull/136), but it's never too late to comment!

[2018-05-05 11:24] appsolutegeek opened #164 "Splitting scheme for Query / Mutations over multiple files ?"
Hi,

I have managed to split out my Types to seperate files and seems to be working. I was wondering if its possible to split out the Query / Mutations to separate files and have these consolidated into one

`type Query `

for example, I have  2 x queries into  2 different files.

[code]
This would create a scheme of the type Query like so

[code]

I noticed from the docs that it is possible to sp

[2018-05-06 13:56] RadAcademy commented on #153
I'm having the same issue, no matter which way I attach my directives I continually get the same error. Super frustrating.

[2018-05-06 22:39] loicplaire commented on #153
Correct me if I am wrong but if `cacheControl` was declared in a SDL document in [`apollo-cache-control`](https://github.com/apollographql/apollo-cache-control-js) then I could import it in my main schema file, like [this example](https://github.com/graphcool/graphql-import/pull/35/files#diff-bc80de195d0cc0904eae2bbd45a77710), couldn't I?

[2018-05-07 11:48] mxmzb commented on #130
I like this very much. You could simplify the API even further and just pass multiple files to `importSchema` without telling what's the main file. It would be simply in the obligation to pass the files in the correct order.

For this to work I also imagine would be kind of easy and could remove the need for comment imports from the `.graphql` files themselves: Just read the file contents and join

[2018-05-09 15:01] Akryum commented on #153
Try this:

[code]

[2018-05-10 07:04] loicplaire commented on #153
Thanks a lot @Akryum, re-declaring the directive in my schema would work 👍.
I just wish there was a way to avoid that by importing it somehow.

[2018-05-10 08:14] netspencer commented on #153
@loicplaire I agree. Something feels wrong about this approach, even tho it works. Perhaps it is a setback due to the way graphql-import was designed

[2018-05-10 18:28] SpaceK33z commented on #164
Yes, that is possible, if you import `Query` from different files, the final scheme will be extended like in your example;

[code]

Or you could do it like this;

[code]

[2018-05-10 18:48] SpaceK33z commented on #130
This is certainly interesting for me, since in the app I'm building the comment imports [are getting bigger and bigger](https://github.com/Volst/foed/blob/master/backend/src/schema.graphql#L1-L6).

However, often you don't want *everything* from the imported schema, see for example this:

`schema.graphql`

[code]

`./generated/prisma.graphql`

[code]

So with those two files as input, what would b

[2018-05-10 19:03] SpaceK33z commented on #34
I wanted to write a PR for this (to better understand how this package works), but this is fixed already. I commented out the one-line fix from #32, and the "importSchema: directive" test failed.

Raw output as proof;

[code]

So this issue can be closed :).

[2018-05-10 19:05] #34 closed

[2018-05-10 19:32] SpaceK33z commented on #104
I've tried to reproduce this issue by writing a test, but I can't get it to fail (see [source code](https://github.com/SpaceK33z/graphql-import/commit/d88b772b2bacf4e42c07485f512f0c31bd4ee58b)). Could you confirm this works now?

[2018-05-11 04:13] wtgtybhertgeghgtwtg commented on #104
It seems to work now.  Thank you.

[2018-05-11 04:13] #104 closed

[2018-05-11 09:05] appsolutegeek commented on #164
Great. Thank you.

[2018-05-11 09:11] schickling commented on #164
I'll keep this open until it's better documented here: https://oss.prisma.io/graphql-import

[2018-05-11 11:43] DavidStummer commented on #16
@kbrandwijk we would love this too

[2018-05-11 21:18] Dragons0458 commented on #153
Hello! apollo engine returns the following: 'time = "2018-05-11T14: 11: 12-07: 00" level = debug msg = "QueryResponseCache not caching: Response overall cache maxAge is 0." cachePolicy = PUBLIC signature = "..." 'and I'm using the cacheControl directive in a type, do you know why it happens?

`directive @cacheControl(
    maxAge: Int,
    scope: CacheControlScope
) on OBJECT | FIELD | FIELD_DEFINI

[2018-05-15 14:46] RadAcademy commented on #73
Any fix for this?

[2018-05-17 23:06] Katyadelarosa commented on #73
Remember typedefs its just a template string, so.

[code]

Work

[2018-05-19 12:03] Grmiade commented on #42
Any news about `extend` compatibility in this package?

[code]

If I use `extend` feature outside the graphql-import scope, it works

[2018-05-19 13:14] terion-name opened #175 "Type was defined more than once."
[code]
and
[code]
[code]

Leads to `Type "Article" was defined more than once.`

Removing imports from there and extracting them to separate file and then:

[code]
Leads to `Field articles: Couldn't find type Article in any of the schemas.`

Is there a way to handle this?

[2018-05-19 14:32] salim-dev commented on #175
# import Article from "./generated-schema.graphql"
# add Type Article
--------------------------------
type Article {
id: ID!
***
***
}
---------------------------------

[2018-05-22 16:42] terion-name opened #177 "Proposal: nested imports"
This may cover common (as I think) situation when you need to use generated types but slightly change them. As an example — add directives (e.g. add `@auth` to mutations).

[code]
or/and

[code]

[2018-05-24 11:25] tsukhu opened #180 "v0.6.0 breaks import functionality (working in v0.5.2)"
I upgraded the nxplorerJS project to v0.6.0 and got the following error

[code]

Here is the travis build reference https://travis-ci.org/ERS-HCL/nxplorerjs-microservice-starter/jobs/382177481

This appears to be related to https://github.com/prismagraphql/graphql-import/issues/45 but when I added a dummy type the wildcard imports do not get imported properly

* Code reference: https://github.com/

[2018-05-24 20:05] jessicaxp opened #182 "import SomeType conflicts with import * from same file, depending on order of imports"
I'm using type extension in my project and just ran into an issue that took me a while to figure out. I was following along with the comments in [Type extension does not work](https://github.com/prismagraphql/graphql-import/issues/42) and found an issue where importing named vs. a wildcard from the same file can result in the wildcard import being clobbered, based on the order that the referencing

[2018-05-27 00:13] jessicaxp commented on #182
Another bit of info - This fix only works in version 0.5.2

If I upgrade to 0.6.0, the `"Mutation" defined in resolvers, but not in schema` error persists regardless of the order of those statements, and I cannot seem to get it to run.

[2018-05-28 18:11] czystyl commented on #180
I can confirm that breaks `import * from file` after upgrade from `0.52` to `0.6.0`

[2018-06-03 16:50] alvis opened #190 "Missing Schema Type"
Seems like `importSchema` omits schema type at the moment. For example, I'd expect the parsed SDL in the following simple code contains the schema type and be idential to the source. However, it doesn't.

[code]

When you run jest, here is the result:
[code]

This expected behaviour is hitting me badly as missing the schema type means `visitSchema` in `grahpql-tools` cannot be triggered. I've a ha

[2018-06-03 21:48] jeromemacias commented on #180
`# import Query.*, Mutation.*, * from "./starwars.graphql"` works for me after upgrading from `0.4.5` to `0.6.0`

[2018-06-08 16:45] adolfoportilla commented on #49
@kbrandwijk I have a file with a *.graphql extension and using the """My Description""" format for descriptions is not showing in my GraphiQL interface, is there a new way of adding descriptions?
thanks

[2018-06-11 16:24] terion-name opened #191 "Empty queryType and mutationType"
I split my schema into pieces. Then I import them piece by piece, make some processing/generatoin and then merge them all together.

Having such piece:
[code]

It does not define Query and Mutation, because this type should not be queried from root

After importing the schema, it has empty queryType and mutationType, that leads to errors on further merging.

[code]

I think that due to intention o

[2018-06-17 14:07] alvis commented on #180
🤔 `import * from file` works fine to me with 0.6.

@tsukhu & @czystyl: could you prepare a minimal example?

[2018-06-18 05:50] tsukhu commented on #180
OK .. I have debugged the issue and was able to **fix the build** (using 0.6.0) with the following changes

With v0.6.0 the standard schema types of Query , Mutation and Subscription MUST be provided with the root field types of Query.* , Mutation.* and Subscription.* otherwise we get a runtime error of 'EOF'

The earlier version was allowing using the wild cards only for these types as well. I gu

[2018-06-19 11:33] OGNeutron opened #194 "Issue with importing a graphql file"
`# import User from "./prisma.graphql" `

But I am getting a no directory or file error, even though they are right next to each-other:

prisma.graphql
schema.graphql

So the relatively path is correct, but graphql-import seems unable to read it.

[2018-06-25 14:13] karloluis commented on #194
I am having the same issue where no file, no matter the path, is not being found.

[2018-06-25 14:33] marktani commented on #194
@karloluis can you make a specific example with the working path, the non-working path, and the folder structure?

[2018-06-26 09:19] linonetwo commented on #194
I think current the path should be relative to where you execute nodeJS.

[2018-06-26 18:20] OGNeutron commented on #194
It was probably a rather esoteric bug, because I rebuilt it from scratch, and the problem seems to be gone,  though to respond, I did use the full path and with the new setup it worked, so as I said, must've been a rather odd bug.

[2018-06-27 08:01] marktani commented on #194
Ok, thanks for reporting back!

Please create a new issue if you encounter a similar problem again.

[2018-06-27 08:01] #194 closed

[2018-06-29 12:43] karloluis commented on #194
Using relative path like this `./schema.graphql` did not work. I used a complete path and was able to have it run. `resolve(__dirname, './schema.graphql')`

[2018-07-06 04:42] the-vampiire commented on #191
we had this working on gql-import v0.4.0 and it is now broken upgrading to v0.6.0

any update on this or a potential fix? I am going through the codebase migrating to apollo server 2.0 and upgraded the ancillary packages leading to this error. It says my queries and mutations are not defined in the schema.

[2018-07-06 10:12] EmrysMyrddin commented on #182
I have the same problem and found out what's going on.

[the probleme is here](https://github.com/prismagraphql/graphql-import/blob/master/src/index.ts#L235)
[code]

Here, we check if the file has already been imported, which is good.
But we should also take in account that `m.imports` is possibly not the same.

To fix that, we should check for the file and the named imports given. This will proba

[2018-07-06 22:14] jessicaxp commented on #182
@EmrysMyrddin That's definitely the sort of piece of code I assumed existed somewhere!

[2018-07-10 01:12] tomitrescak commented on #42
@ACollectionOfAtoms this works for Prisma, but when loading the type defs like this from yoga  or apollo server it is omitted ;(

[2018-07-11 22:13] terion-name opened #201 "add directives definitions to import?"
I have an app that parses schemas and is processing them.

I want to use a directive in these schemas, but not to write there it's definition (alike Prisma directives in datamodel). But I can't run import these schemas:
[code]
`graphql-import` only works properly if I supply path to schema, not the schema content (in this case import's relative paths are broken), so I can't simply concat directive

[2018-07-11 23:20] terion-name commented on #201
Currently what I've done: I've copied scripts to project and changed main func like this:

[code]

And it works like a charm (`const importedSchema = importSchema(schema, null, relationDerictiveDefinition);`). Don't know either something like this should be added to library

[2018-07-12 21:59] mikefowler commented on #182
@schickling thoughts on this? @EmrysMyrddin has a proposal PR open that would fix this issue

[2018-07-20 08:29] Siyfion opened #203 "How to handle overrides when importing?"
Firstly, I have an example reproduction of the issue I'm facing available here: https://github.com/Siyfion/node-graphql-starter/tree/graphql-import

So what I'm trying to do, is get my Prisma generated schema imported into my Apollo Server 2.0 project. It works fine doing it the way I am, _until_  I re-define a type that's indirectly being imported with `graphql-import`.

Clearly I need a way of m

[2018-07-20 14:48] marktani commented on #203
Can you still reproduce this with `graphql-yoga` and/or `apollo-server@1.x`?

[2018-07-20 15:00] Siyfion commented on #203
@marktani I'm not 100% certain if I can or can't... One of the reasons for me moving to an Apollo Server 2.0 was to better organise my code, create a more modular based structure. I've had it working in `graphic-yoga` but only when I've had my `import` and entire schema all in one massive `*.graphql` file.

[2018-07-27 09:09] atten opened #205 "Ability to exclude Query, Mutation and Subscription types from imported schema"
This feature would be useful when we have types and inputs generated by Prisma, and want to add custom implemented Query and Mutation for real-word app.

For example:
[code]

But now I can't do that because `importSchema` grabs generated Query and Mutation types directly into application API.

[2018-07-27 10:06] atten commented on #205
I've made a [fork](https://github.com/atten/graphql-import), that works exactly that I need.

It has only one difference in **index.ts**:

[code]

[2018-07-31 11:50] Siyfion commented on #203
So as a bit of extra information, it all seems to work fine if I do the following:

* Remove the type definitions from `user.js` and `venue.js`
* Add the type definitions to `imports.graphql`

Resulting in:

[code]

But, this is the key bit... This exactly what I was trying to _avoid_. I *hate* having to define all my types in one big `*.graphql` file, or even in a multitude of small files dotted

[2018-08-01 09:14] divyenduz commented on #203
I added a [test case for collision](https://github.com/prismagraphql/graphql-import/pull/210) in GraphQL import.

That part looks to be working as expected.

[2018-08-01 09:17] divyenduz commented on #203
But I think you want to merge imported type with [type defined in JS/TS](https://github.com/Siyfion/node-graphql-starter/blob/graphql-import/src/types/user.js#L10-L26). Let me get back to you on this.

[2018-08-01 09:33] Siyfion commented on #203
@divyenduz yes, that's precisely my use-case. It's all about how to combine the use of `graphql-import` with types defined in JS/TS using the `gql` decorator. [The merge happens here, but then there's no conflict-resolution](https://github.com/Siyfion/node-graphql-starter/blob/360e954e65a45ce980204b1b853331203fea4dbb/src/index.js#L4-L11)

[2018-08-01 09:44] divyenduz commented on #203
@Siyfion : Noted, this can happen via some additional tooling exposed by `graphql-import` or a separate tooling altogether.

I remember that you tried `mergeSchemas` to resolve this. What was the outcome?

[2018-08-01 09:50] Siyfion commented on #203
If I'm completely honest, I got a little worried when it started trying to merge two different root `Query`   objects, it's quite possible that this _is_ the correct solution to go down, though I fear my lack of knowledge of the internal workings of the GraphQL AST may have scared me off! 😊

[2018-08-03 07:25] FluorescentHallucinogen commented on #205
@schickling @kbrandwijk @timsuchanek @marktani PTAL.

[2018-08-03 09:43] Siyfion commented on #205
@atten I think I'm right in saying that if the imported file has _*any*_ duplicate `type` (including `type Query`) it won't import the duplicate. So if you merged your `readFileSync` lines and then `unshift` on the import, I think you get this for free.

[2018-08-03 09:55] Siyfion commented on #203
@marktani & others

After a _lot_ of discussion & help from @divyenduz, I think I've got somewhere close to a workable solution! In short, if you want to keep your GraphQL in JS and modular, you need to convert it back to SDL, merge it all together, add any `# import` statements and then run it through `graphql-import`, like so:

[code]

I've updated my branch to now have the new code in it, with

[2018-08-03 10:01] Siyfion commented on #203
The issue with `extend type ...` seems related to https://github.com/prismagraphql/graphql-import/issues/42 however, I think that issue is dealing with a scenario whereby the original type and the extension are in separate files. In this case, both the type and the extension are all in the one SDL block. Type extensions are now part of the spec (http://facebook.github.io/graphql/June2018/#sec-Obje

[2018-08-03 12:29] atten commented on #205
@Siyfion unfornunately, `graphql-import` does import duplicates.

I've tried to transform import like this, but got multiple errors
 ```Field Mutation.%s can only be defined once.```

[code]

[2018-08-03 14:21] Siyfion commented on #205
@atten I've done exactly this and it's working fine...? :/
The only thing I can see different is that I have my `# import` lines at the top of my SDL file.

[2018-08-05 00:12] vasco3 commented on #39
I was using comments with `//` instead of `#` and that was causing the error...

[2018-08-06 08:54] Siyfion commented on #203
@divyenduz I actually don’t think that the "support” I’m requiring should be a very big change at all… Perhaps it wasn’t fully explained? I don’t need `graphql-import` to support `extend type X` statements in different files, and handle the imports. All I need it to do is not wipe out `extend type` from the “root” file being imported. eg:

[code]

at the moment the `extend` just gets ignored and r

[2018-08-09 13:43] johannpinson commented on #203
hey @Siyfion

I had the same issue and used a more "manual" method to import types that I need:
[code]

I used this function to import all "inputs" that I didn't want to recreate like `UserCreateInput` or `UserWhereInput` (especially with all "where"-style inputs which can have dozens and dozens of fields).
It forced me to list all necessary types (around forty), but still I migrate from Yoga to A

[2018-08-09 14:19] Siyfion commented on #203
Hey @johannpinson

Thats a pretty neat way to do it! I haven't found a way to use `extend` with types defined in the "imports". However, I can use `extend` internally.

How does your strategy cope with "overrides"? I guess that as you are importing things entirely manually, you just don't import them and then redefine them in your schema?

Are you using GraphQL in JS (`gql` tags) or `*.graphql` fi

[2018-08-09 15:02] johannpinson commented on #203
@Siyfion

Finally I also use `extend`logic by this way:
[code]

And it looks to work 😄(and yes I know, the `unshift` is useless ^^).

Like you see, I use too the apollo-tag (aka `gql`) since I switched to Apollo-server v2.
It allow me to make some `${custom}` code inside the tag 😉
(well, vscode-graghql  -- hey @divyenduz 👋 -- doesn't highlight it well, but I'm sure I will need it more and more in

[2018-08-09 15:28] Siyfion commented on #203
That code looks familiar @johannpinson! 😉

I may well have a play with your approach later on tonight, or early next week. I feel like you might have cracked the final piece of the puzzle! 👍

[2018-08-13 09:42] Siyfion commented on #203
Hey @johannpinson I've been trying things out with your method, and I've got it all working...

The good news is that your block:

[code]

no longer needs to exist! You just need to merge all your arrays of `typeDefs` into one large array that you pass into the `ApolloServer` constructor.

[2018-08-13 09:43] Siyfion commented on #203
Latest (working) code now available here:
https://github.com/Siyfion/node-graphql-starter/tree/graphql-import

[2018-08-13 11:29] johannpinson commented on #203
Hello @Siyfion
Yes the solution that I gave works, but it requires you write any type you need inside the `imports.js`.
It's why I prefer your version with `graphql-import`, because the package auto-imports the type/object that you can need without declare all of them.

After it depends how you want to manage the imports of external types :
- auto-import default and missing type with `graphql-impo

[2018-08-13 11:31] Siyfion commented on #203
Yeah, I prefer the _explicit_ import syntax, as if your GraphQL Playground endpoint is exposed publicly, they don't get to see the internal workings of your entire DB structure, which the automatically imported Prisma types/imports, etc. all give away a bit!

[2018-08-13 11:38] johannpinson commented on #203
Yes I see but it forces me to have all this import for one type created for example:
[code]

and my final model will have around a twenty type which can have relation between them 😆

[2018-08-13 11:40] Siyfion commented on #203
True, I could argue that exposing `create/update/upsert` input types is very dangerous if you have any kind of permissions model, but I'm guessing you know that!?

[2018-08-13 12:03] johannpinson commented on #203
Yes all mutations (and some queries/fields) will be cover by `graphql-shield` + `graphql-middleware` for custom checks.
I'm testing also the Schema directives as solution, but the first permission layer will be implemented in front.
So to simulate the JWT Auth + context of request will be a good challenge to force the security ^^

On your side, you will "rewrite" all input and remove "connect"-lik

[2018-08-15 16:17] SpaceK33z commented on #182
I'm only seeing this issue now but I made PR #213 which will fix this.

[2018-08-15 16:41] SpaceK33z opened #218 "Merge documentation efforts"
Currently there are three places where, each slightly different, documentation lives;

- [oss.prisma.io](https://oss.prisma.io/content/graphql-import/overview)
- [graphql-import.now.sh](https://graphql-import.now.sh/)
- the README on this repository

This is quite confusing.  My proposal is:

- The graphql-import.now.sh documentation should not be mentioned anymore in the repository.
- The README

[2018-08-15 16:44] SpaceK33z commented on #191
Would it be possible for any of you to make a full example reproducing this scenario?

[2018-08-15 16:45] SpaceK33z commented on #145
This might be fixed with #213, could you check?

[2018-08-20 14:24] zhenyulin opened #221 "root schema import"
I'm currently working on separate different type definitions into different .graphql files with graphql-import, and was wondering if it is possible to do some wild card import to stitch all types into an index.graphql file to be imported as typeDefs?

examples:

item.graphql
[code]
user.graphql
[code]

index.graphql
[code]

[2018-08-20 14:41] SpaceK33z commented on #221
To import everything, the query + mutation schemes + other types, you can use this:

[code]

I'll leave this open because the documentation isn't clear about this (the behavior changed in v0.6.0).

[2018-08-22 13:12] armij commented on #201
on which file did you wrote this code? Thanks

[2018-08-23 08:41] #218 closed

[2018-08-23 12:14] SpaceK33z commented on #31
Seems to be documented here now: https://oss.prisma.io/content/graphql-import/overview#import-from-strings

[2018-08-23 12:14] SpaceK33z commented on #164
It's better documented now on the page above 👍.

[2018-08-23 12:14] #164 closed

[2018-08-23 12:15] SpaceK33z commented on #221
Documented on https://oss.prisma.io/content/graphql-import/overview now.

[2018-08-23 12:15] #221 closed

[2018-08-23 19:42] kbrandwijk commented on #31
@SpaceK33z No, that doesn't even mention object import, as far as I can see. It's been a while, I'll look for an example.

[2018-08-28 09:03] SpaceK33z opened #225 "Drop node 4 support"
At the moment node v4 is still supported, but it has been out of maintenance for a while and a lot of tools don't support it anymore.

[2018-09-04 01:28] Fi1osof opened #230 "Cannot read property 'concat' of undefined For Scalar"
Bug.

Scalar Type definition does not exists fields. Example: Scalar Json. Scalar Upload.
On merge if Scalar define more that once, got error. I think, error here: https://github.com/prisma/graphql-import/blob/master/src/index.ts#L118
existingType.fields.concat.  existingType.fields is not defined.

[2018-09-07 12:34] #57 closed

[2018-09-07 12:45] SpaceK33z commented on #145
Should be fixed with `0.7.0`, feel free to re-open if the issue still occurs.

[2018-09-07 12:45] #145 closed

[2018-09-13 19:58] james-ff commented on #42
I think @Grmiade has correctly identified the issue in the last comment. In my use case I am following guides on merging schemas https://www.apollographql.com/docs/graphql-tools/schema-stitching.html. This requires a typeDefs definition that only contains 'extend type' blocks to effectively bridge two schemas.

[code]

When used in literal form as in the above comment it works. But it doesn't work

[2018-09-16 00:40] ryankauk commented on #8
@marktani Did you get the nesting to work? Was the nested using the prisma.graphql that was generated or only custom? I'm trying to split them apart like you did.

[2018-10-04 08:42] ellipticaldoor opened #235 ""Import specific types" works as "Import all types""
On the documentation says that I can import certain types from a .graphql file like this:

[code]

But when I do that it, works like this other one:
[code]

I know this because if I reference a type that is not imported using the "Import specific types" I don't get an error, which is the behaviour I expect from reading the docs.

This are the dependencies I'm using:
[code]
I'm using apollo server,

[2018-10-12 19:42] KeevanDance commented on #39
@kbrandwijk .graphqls seems to be the standard for a backend we are using built on `graphql-java-tools` @ https://github.com/graphql-java-kickstart/graphql-java-tools

[2018-10-16 19:57] furrysolver commented on #235
It happens to me too

[2018-10-17 21:49] lastmjs commented on #205
I've got a solution outlined here: https://medium.com/@lastmjs/advanced-graphql-directive-permissions-with-prisma-fdee6f846044

[2018-10-18 21:25] webberwang opened #243 "importSchema() to work with client side such as Apollo Client"
How can we make importSchema work with the client side? It looks like Graphql Import supports only Node.js environment, so it's not working for the frontend.

[code]

The compilation errors:

[code]

[2018-10-23 16:38] jloveric opened #244 "importSchema does not work with .gql extension"
I have the exact same schema, one with the .graphql extension and the other with .gql extension.  importSchema works on the first (.graphql), but not the second

    const { importSchema } = require('graphql-import')
    //let typeDefs = importSchema(__dirname+"/schema.graphql")
    let typeDefs = importSchema(__dirname+"/schema.gql")
    console.log(typeDefs)

In the second case, the error thrown

[2018-10-26 22:04] stephenh opened #245 "Import all graphql files from a directory"
I'm looking at `graphqlgen` that defers to `importSchema` to load its schemas.

Right now we just have `*.graphql` files in a `data/schemas` directory without any of the `# import * from ...` comments.

What I'd like to do is just `importSchema('data/schemas')` and have it realize its a directory and just pull in all the `.graphql` files recursively and combine them together.

Does that seem reaso

[2018-10-31 21:15] patsissons commented on #190
this is definitely a bug, the following assertion should not fail.

[code]

[2018-11-06 23:43] ryanquinn3 commented on #235
I'm experiencing the same thing but the problem is made much more apparent when trying to use [graphqlgen](https://github.com/prisma/graphqlgen).

Let's say I have 3 types in my prisma schema and I only want to expose (and write resolvers for) 2 of them in my public API. That is currently not possible with this bug. Grapqlgen is receiving every type from `prisma.graphql` and then is trying to make

[2018-11-10 10:37] JulienKode commented on #42
Any update or workaround ?

[2018-11-12 17:12] ccruz2886 opened #252 "Issue: Import Input"
would like to get some help about importing `input` type, cause `# import CreateInput from 'prisma.graphql';` doesn't work.

Is there a way to accomplish that? 🙏

[2018-11-14 08:58] Elfayer commented on #235
Any fix/work around to this?

[2018-11-14 09:42] Elfayer commented on #235
I'm not sure how much of a reproduction you want (github repo?), but the following `schema.graphql` is not working as expected:

### Problem
[code]
### What happens?
It imports more than expected. I didn't declare or imported the types `Role`, `Post` nor `Location`. It is actually going to be taken from the `prisma.graphql` which has those types. (as well as the types in these from the cascade imp

[2018-11-14 09:48] divyenduz commented on #235
@Elfayer : Thanks for the details, Github repo would be the best (if you have the time).. maybe a repo that just prints the discrepancy using `importSchema` function from `graphql-import` directly.

If there is no Github repo, I will try to create one and validate/fix this soon anyways.

[2018-11-14 16:08] Elfayer commented on #235
@divyenduz Reproduction here: https://codesandbox.io/s/k9w3wx4k1r

[2018-11-14 18:01] divyenduz commented on #235
@Elfayer : It is indeed importing only types that are used, albeit "magically" since they are not explicitly imported. However, it is not importing everything. Like in this case: https://codesandbox.io/s/0xj69o9qmw

I added an unused enum to `prisma.graphql` which is not used/imported in `schema.graphql` and it does not get imported.

[2018-11-15 01:13] Elfayer commented on #235
@divyenduz Are you saying it is a normal behavior? I do not expect that behavior from a "specific" import.
Moreover, here is an updated example: https://codesandbox.io/s/5x39k14w4k
I import my `Post` schema: `# import Post from "Post.graphql"`
While it is importing prisma's `Post` instead.

[2018-11-15 04:37] divyenduz commented on #235
@Elfayer : No, I am not stating that this is normal behavior, I just noticed that the bug (or feature) is different from original specification.

Your last comment also points out some confusion regarding collisions and also points out that specific import does not work at all. Maybe these are three separate issues.

To my understanding @maticzav will pick this up sometime soon and help us navigat

[2018-11-15 05:56] Elfayer commented on #235
Happy to help ;)
Also note it's not just specific imports, if you try `# import * from "prisma.graphql"`, it won't import the type `Unused` either. So it really needs a deep review.

[2018-11-17 23:45] anarasimhan opened #256 "Import from npm modules"
Is it possible to load schema from other npm modules? All the examples I have seen so far is importing graphql files from the same application or module.

Something like

[code]

[2018-11-28 09:38] zzzgit commented on #39
OK, OK
If you guys don't want to make this tool to support `.gql` files, please add some more details to the error info.

![image](https://user-images.githubusercontent.com/1060733/49142689-5d105300-f334-11e8-84e5-182f0a480ed0.png)

This is what I currently get

[2018-12-04 10:29] frandiox commented on #235
I have a User type in the DB and another User type (with less fields) in the API. I'm **not importing** User from the DB. However, in the server playground the type I see is the one from the DB. The one from the API only works if I change its name.

I guess it's being overridden by the one in the DB because of this "import all" issue? I'm only doing `# import Address from "../generated/prisma.grap

[2018-12-23 07:37] orefalo opened #266 "regex too strict"
https://github.com/prisma/graphql-import/blob/01a4637e03836dab9a56f73719bcaebf5cfd0c37/src/index.ts#L46

Just adding a second SPACE will break

[2018-12-26 02:36] xiaoqf10 opened #267 "graphql-import can not find "prisma.graphql" file in now.( I use now2.0 @now/node builder)"
# import * from "./generated/prisma.graphql"

[2018-12-30 05:44] craigcbrunner commented on #42
This is what I am doing as a workaround.. it really sucks, I wish they would fix this.
[code]

[2018-12-30 17:51] TobiasBales commented on #244
I just noticed the same behaviour. I worked around it by reading the file and passing that into import schema which seems to work

[code]

Proper support for `.gql` would be nice though since some extensions (vs code) expect that file extension

[2018-12-31 02:41] colebemis commented on #267
I'm having a similar issue. Here's the pull request that gave me this error: https://github.com/colebemis/dasher/pull/13

Here's the error message I'm getting:
[code]

I'm using `graphql-import@0.7.1`.

I think this issue is related to:
- https://spectrum.chat/?t=71053e4b-c98a-4d97-90c7-8b69f8dcf513
- https://www.prisma.io/forum/t/graphql-import-can-not-find-prisma-graphql-file-in-now-i-use-now2-0

[2019-01-07 09:42] xiaoqf10 commented on #267
@colebemis My current solution is, use "graph-import" locally to generate a combined "graphql" file before deployment.

[2019-01-08 14:13] chanlito commented on #235
Hey Prisma team, it'd be nice if somebody look into this issue since Oct 2018. Because I'm doing selective import, but instead I'm get everything.

[2019-01-10 08:56] divyenduz commented on #252
@ccruz2886 Thanks for raising this, can you please provide a small reproduction repo? Thanks.

[2019-01-14 18:19] amille14 commented on #235
Experiencing the same issues as above and it makes it very difficult to reuse anything from a generated prisma schema without exposing far too much in your API. Would really appreciate if someone from the Prisma team could look into fixing this soon.

[2019-01-20 08:15] ellipticaldoor commented on #235
If it's not going to be fixed I think will be good to at least mention it on the Readme, just to avoid surprises

[2019-01-22 23:16] vadistic commented on #203
Few months ago I got so frustrated with exactly all this, that I made a tool. Weird that I did not notice this issue before.

Frankly - right now I'm more partial to interpolated string literals in ts, but I'm plugging this as some curiosity: https://github.com/vadistic/graphql-override

It even integrates with prisma config (and works)

[2019-01-28 22:16] maticzav commented on #235
Hey @ellipticaldoor 👋,

Could you check out the reproduction test that I made here? I tried to follow the CodeSandbox reproductions above but I cannot reproduce the failing behaviour.

https://github.com/prisma/graphql-import/blob/import-specific-fix/fixtures/specific/a.graphql

[2019-01-29 15:36] amille14 commented on #235
@maticzav hey, thanks for your response. Maybe this gist will help clarify the issue that I and others are seeing: https://gist.github.com/amille14/b063f5cabfd4838c27bec5abe83ee544

Importing only `User` from file A also imports `Post` from file A (since it's referenced by `User`), even though `Post` is being imported later from file B. I would expect only the specific `User` type to have been imp

[2019-01-29 18:42] maticzav commented on #235
Hey @amille14, thank you for the follow-up! After commenting, I figured out how to reproduce it myself as well. You can already see new test cases and code changes in the above branch.

Interestingly, I discovered that such functionality isn't a bug in the current code but a feature. I believe @schickling and @kbrandwijk must have thought that would come in handy.

[2019-01-29 19:44] amille14 commented on #235
Awesome! Appreciate you taking a look at this as it has been preventing me from reusing pieces of my generated Prisma schema in my API (due to security concerns, exposing too much info about the database), resulting in a ton of extra work on the API layer.

I could see the current behavior being useful as an import option, but at least in my case it was not the expected default behavior. Thank you

[2019-01-29 21:49] maticzav commented on #235
Hey @schickling @timsuchanek @amille14 @ellipticaldoor 👋,

Let me first give a brief overview of how `graphql-import` currently works, and what I believe this issue is trying to propose. Before I begin, it's worth mentioning that this issue might be the melting pot of the multiple problems which seemingly stem from the same problem but have different origins.

From the reproduction cases published

[2019-01-30 03:15] frandiox commented on #235
@maticzav 	Thanks for debugging this. About this "hidden" feature, it was mentioned in other issue if I don't remember wrong, and I personally think it's fine.

However, I think there's another related issue since I've seen leaked types that were not a dependency of other types. I believe it was due to nested imports (not sure if they are supported): A-file imports some types from B-file, B-file i

[2019-01-30 03:45] amille14 commented on #235
OK! @maticzav after reading your last comment I went back and took another look at this and ran some test cases. I think I figured out what's causing all the confusion, at least on my end. I have some examples that will hopefully clarify all of this for everyone. This post might get a little long so bare with me.

The problem seems to stem from the fact that importing a single specific type **does

[2019-01-30 10:00] ellipticaldoor commented on #235
hey! tomorrow I can check it!

[2019-01-31 22:04] ecker00 commented on #201
Unless I'm missing something, I'm also struggling with the same. `importSchema()` does not support adding in `schemaDirectives {}`, and will throw errors at all the @directives it comes across. 😟 (While `makeExecutableSchema()` does support it)

[2019-01-31 22:15] ecker00 commented on #201
This seem to be related #153 as it's any directive that's not directly declared in the imported schema, but imported at a later stage.  In my case I would like to use `constraint` from `graphql-constraint-directive`.

Seems @terion-name suggestion could resolve this, by adding it as an argument into the `importSchema()` function. Would this feature conflict with other parts of `graphql-import`?

[2019-02-05 17:37] amille14 commented on #235
Hey @maticzav. I just created this repro repository with tests https://github.com/amille14/graphql-import-tests (run `yarn test`)

As you can see, the first 3 tests are failing. These correspond to the 3 example cases I gave in my previous post. I added a 4th example case to show that `# import Query.* from ...` is working properly. It's only specific imports like `# import User from ...` that are

[2019-02-06 05:52] amitava82 commented on #84
How did you do it?

[2019-02-09 16:43] tlivings opened #283 "Ignore missing types?"
Would be useful if it was possible to ignore missing types. These types might be present on a merge but missing from a specific import because they span different modules.

[2019-02-12 02:51] jasonkuhrt commented on #283
@tlivings could you provide an example? I'm not sure what you mean.

[2019-02-12 12:16] dan-cooke opened #284 "ENOENT, when using # import syntax"
Unless I am missing something crucial, I can't seem to get the # import syntax to work.

## Reproduction
I have created the [following repo to reproduce the bug ](https://github.com/danielcooke1996/graphql-import-bug/tree/master)

As you can see in that repo,
`src/index.js` does the following:

1) It imports `typeDefs/index.graphql` using the `import-graphql` babel plugin, this works as expected a

[2019-02-12 15:38] danielcooke1996 commented on #267
For anyone having issues with this, I have been trying for days and I've found a solution.

**Do not use [`graphql-import`](https://github.com/prisma/graphql-import)**  it is completely broken at the minute.

## Solution
Simply use the [`babel-plugin-import-graphql`](https://github.com/detrohutt/babel-plugin-import-graphql)

It reads the # import syntax within .graphql files (and even .gql files)

[2019-02-13 16:15] prajjwaldimri opened #286 "Couldn't find type Upload in any of the schemas"
I was trying to get the file upload working in my graphql server by following
https://blog.apollographql.com/file-uploads-with-apollo-server-2-0-5db2f3f60675

In the article the author mentions that Apollo automatically adds the `Upload` type to the schema. However, when importing my typeDefs using graphql-import I am getting the error:

`
Error: Field file: Couldn't find type Upload in any of the

[2019-02-17 20:48] didaquis commented on #284
@danielcooke1996 Did you found any solution?

[2019-02-17 21:22] danielcooke1996 commented on #284
@didaquis I ended up just switching to  https://github.com/detrohutt/babel-plugin-import-graphql

It does the exact same thing without the need for any webpack config.

[2019-02-17 21:50] didaquis commented on #284
Thanks

[2019-02-21 18:04] TheoMer opened #289 "Not all of # import file is being copied"
So I have the following code, which copies my `schema.graphql` and generated `prisma.graphl` files and creates a single file combining both files (I'm doing so because of the following issue: https://github.com/zeit/now-examples/issues/201), which in turn is read into prisma.:

[code]
with my `schema.graphql` defined as follows:

[code]

Now, all of the `schema.graphql` is successfully copied to `

[2019-02-21 19:42] #289 closed

[2019-02-24 03:03] andresespinosapc opened #291 "Failing to import type"
I have troubles trying to import a schema generated by postgraphile.

**Attempt 1**
I first tried importing a specific type like this: `# import ProdAttrsConnection from './generated/postgraphile.graphql'`

After writing the import line, I get this error with different types: `Unknown type "ProductToAttrsOrderBy".` The types that throw the error are not even dependencies of the one I imported, so

[2019-02-27 00:06] t3rminus commented on #252
I'm also having this issue. Don't even need a repo to reproduce:
[code]

**Expected Output**
[code]
**Actual Output**
[code]

[2019-02-27 23:41] jamesscaggs opened #292 "Couldn't find type ItemWhereUniqueInput in any of the schemas"
I am getting the following error running locally trying to use create a query to look up a unique item.

`Error: Field where: Couldn't find type ItemWhereUniqueInput in any of the schemas.`

Below is my schema.graphql file:

[code]

And I have the following in my generated prisma.graphql file:

[code]

[2019-02-28 19:44] aietcn commented on #286
same here. Currently, I have to mix `importSchema` with `gql` like this to make it work:
[code]

[2019-03-08 22:46] wingertge commented on #244
The same issue is present with *.graphqls files. Reading the string manually doesn't work since it messes up the import paths (all imports are resolved from project root - if I use importSchema normally with a file name it resolves from the main file).

[2019-03-12 08:27] drub4n commented on #284
Same issue here.

`node v10.15.1 graphql-import v0.7.1`

I switched to babel-plugin-import-graphql to have something working but I really want to use graphql-import

[2019-03-13 08:06] techyrajeev commented on #153
@Akryum I am getting this error -

When I added this code
[code]

Error: There can be only one type named "CacheControlScope".

Enum value "CacheControlScope.PUBLIC" can only be defined once.

Enum value "CacheControlScope.PRIVATE" can only be defined once.

[2019-03-14 10:16] YannisMarios opened #300 "#import UserOrderByInput from '../../generated/prisma.graphql' Error Type UserOrderByInput not found"
Hi,

when I use:

[code]

inside components/user/schema.graphql

I get the error:

[code]

I want to import a type from a file inside a directory two levels up. Is this possible?

Thank you

[2019-03-20 19:34] tbsf commented on #292
I don't see where ItemWhereUniqueInput is in your schema

[2019-03-21 15:02] danielsimao commented on #284
Same issue here.

I'm really looking forward to have this issue solved. Can't event put babel-plugin-import-graphql to work.

[2019-03-21 15:22] danielcooke1996 commented on #284
When using `babel-plugin-import-graphql` make sure you have exact import syntax. read the docs closely.

It needs to be - `#import 'File.gql'`

Note there is no space between the hash and the import, and the filename has single quotes

[2019-03-31 19:35] didaquis commented on #245
I'm on the same situation

[2019-04-01 21:47] quinnvaughn commented on #252
+1 would love this to simplify my schema.graphql

[2019-04-04 13:23] jackgray commented on #284
Having the same issue. Can't figure out why it worked before but not now though..

[2019-04-04 18:28] danielsimao commented on #284
Make sure you give the correct path. For example:

If your `schema.graphql` is in src/schema, make sure that when you a passing it to typeDefs in your GraphQL Server, you give it the full path from your GraphQL Server to your schema location: src/schemas/schema.graphql.

[2019-04-04 18:49] didaquis commented on #284
Maybe my repo could be an example for you: https://github.com/didaquis/react-graphql-apollo-example-server/tree/master/src/gql/schemas

[2019-04-05 00:05] fineline opened #308 "Cannot import from parent directory"
Using the following:

[code]

gives error:

[code]

What is the correct syntax for importing from a parent directory?

[2019-04-05 00:22] fineline commented on #308
I found this was actually a problem in my parameters to importSchema, the file path was invalid and so was trying to parse that as raw GraphQL.

[2019-04-05 00:22] #308 closed

[2019-04-05 09:31] danielsimao commented on #284
@jackgray, do you need a more practical example?

[2019-04-05 09:59] danielcooke1996 commented on #284
As mentioned above, this will not work. As `graphql-import` is not resolving paths from the source code (ie. the GraphQL server) but **from the `graphql-import` node module**.

I have included a reproduction repo where you can see this behaviour. Note I have included full paths for my schema.

[2019-04-11 07:26] moritzmorgenroth commented on #51
I think is solved with [Prisma Nexus](https://github.com/prisma/nexus) and can be closed. Thanks for the feedback

[2019-04-12 18:53] johndevor commented on #175
I think you might be able to solve this with the merge-graphql-schema package.

[code]

https://www.npmjs.com/package/merge-graphql-schemas#merging-type-definitions

[2019-04-12 22:20] rojobuffalo commented on #230
I ran into this because I had `scalar DateTime` twice.

[2019-04-15 03:22] ShiChenCong commented on #230
same to

[2019-04-21 21:17] Flash619 opened #315 "#import * from 'prisma-schema.graphql' Not Importing Anything. Specific Types Not Importing."
I'm trying to import all types from my prisma schema, however nothing actually imports.
![image](https://user-images.githubusercontent.com/1608113/56475592-f9f09b80-644f-11e9-97ab-36fb9575c184.png)

Here is the output.
![image](https://user-images.githubusercontent.com/1608113/56475598-0aa11180-6450-11e9-84b0-e2f23ec0b308.png)

If I try to import a specific type, such as an input type called `User

[2019-04-25 13:52] mxstbr commented on #286
I am also running into this. Any ideas how to solve it?

[2019-04-25 14:12] maticzav commented on #286
You should include `scalar Upload` at the top of your `typeDefs` or `schema` file.

GraphQL Yoga and Apollo Server automatically prefix the files if the scalar definition is missing but you have to do it on your own if you are using `graphql-tools` or anything similar.

Hope that helps 🙂

[2019-04-25 14:18] mxstbr commented on #286
As said in the OP:

[2019-04-25 14:26] maticzav commented on #286
Just noticed. (I deleted the comment). To my understanding, this happens because of the way `graphql-import` is implemented. While generating the imported schema, definition pool searches for all definitions mentioned in the file (this happens because `graphql-import` includes dependencies of the imported types as well as the imported types themselves.)

Because of that, it throws an exception tha

[2019-04-30 02:28] mrfrase3 commented on #315
Hey,

I just spent a better part of a day with the same issue, apparently, you need to reference what you want to import. so try `_empty: acl`

There should probably be a warning if your import statement doesn't have anything referenced.

[2019-05-04 18:19] barakat-turki commented on #73
Just provide `type Query` with any method.
[code]

[2019-05-13 16:30] entrptaher commented on #42
I am doing a weird hack for experiment,

[code]

[code]

It works as expected, I have all queries and mutations from generated graphql file and the extended queries as well. See below,

![image](https://user-images.githubusercontent.com/8284972/57637813-240c2800-75ce-11e9-84a4-3fbdd79f0e0a.png)

The problem with this approach is,
- I cannot use `import` inside the schema.graphql file
- I cannot ov

[2019-05-19 04:53] corydeppen commented on #252
I'm seeing the same issue with input types. Has this been confirmed as a bug? How are others working around not being able to import input types (e.g. generated Prisma schema)?

[2019-05-20 03:05] stevez86 opened #324 "There can be only one type named "CacheControlScope""
I'm using graphql-import and ApolloServer and I'm running into the following error:

[code]

Referencing this issue: https://github.com/prisma/graphql-import/issues/153 I had to manually add the following to my schema:

[code]
For a period of time this was working without error until recently and I started getting the error above. It happens in both importSchema and the webpack plugin. When I prin

[2019-05-20 03:08] stevez86 commented on #324
I'm closing this to reference the culprit, ApolloServer https://github.com/apollographql/apollo-server/pull/2428

[2019-05-20 03:08] #324 closed

[2019-05-23 03:07] t3rminus commented on #252
@corydeppen Input types seem to be automatically imported as needed, when specified by a query or mutation (such as when you import from a generated Prisma schema).

You just can't import them explicitly, or independently.
I honestly ended up combining graphql-import with my own file import system to work around this behavior.

[2019-06-19 13:54] diegofly91 commented on #286
Fix the error by putting the scheme const const typeDefs = gql` ...... `and not importing the .graphql file

[2019-06-23 05:22] gotexis commented on #324
@stevez86 This seems happening to me, so what was the solution again?

[2019-06-25 17:07] BartusZak commented on #153
The same error here

[2019-06-26 17:36] tuucan commented on #243
Could this be ever done? 👀

[2019-07-02 14:16] CoenWarmer opened #343 "Security issue in dep Lodash (4.17.4)"
Our security audit failed on a vulnerability in dependency Lodash (4.17.4).

Upgrading to Lodash 4.17.11 or higher would fix this.

More information: https://npmjs.com/advisories/782

[2019-07-04 12:40] marcus-sa commented on #243
@tuucan https://github.com/prisma/graphql-import-loader

[2019-07-09 08:36] artentica opened #347 "Import not matching throw error"
Not possible to import fragment like that `#import "./fragments.graphql"` it's not matching the import line so it's throw error.

https://github.com/prisma/graphql-import/blob/212b9221e0e528aa2f5ca13d6d8188fd484219e2/src/index.ts#L44

[2019-07-10 01:35] jimsorock commented on #324
Just updated to latest and the check is automatic. No need to implement anything.

[2019-07-15 17:42] gerardolima commented on #190
Is this repository dead or this bug wasn't considered not woth solving?

[2019-08-01 11:54] villesau opened #352 "graphql-import does not work with Apollo Federation"
HI, when building federated schema using basic builiding blocks, following error is thrown:

[code]

The type that causes the issue looks like this:

[code]

key directive is something that glues different pieces of extended types together when federating schema. See the documentation for further details: https://www.apollographql.com/docs/apollo-server/federation/core-concepts/

Could the validat

[2019-08-14 15:04] Urigo opened #353 "A new path for GraphQL Import - help us decide on the roadmap!"
Hi everyone!

I'm @urigo the founder of [The Guild](http://the-guild.dev).

As recently [been announced](https://www.prisma.io/blog/the-guild-takes-over-oss-libraries-vvluy2i4uevs) on the Prisma blog, we are taking over the maintenance of this library going forward.
I've expressed it in the blog post in more details but I would like to start by thanking Prisma for conceiving, creating and maintain

[2019-08-20 13:26] thealjey opened #355 "Option not to "print" the result of `importSchema`."
I would like to get the SchemaDocument ast from `importSchema` instead of the printed SDL.
Seems like a waste to have to parse it right after it was printed.

[2019-08-22 02:41] thearabbit opened #358 "ENOENT: no such file or directory, open './posts-schema.graphql'"
I base on `Meteor, Apollo`?
Structure
[code]
Code
[code]
Get error
[code]

[2019-08-24 14:50] ken-nah commented on #284
Yeah this worked for me. Thank you

[2019-08-25 19:21] Orteu commented on #284
You need to import the .graphql file from root even if your file is in the same folder:

Let's say you've got this structure:

root/
      schema/
             user.graphql
             index.js

If you are trying to import user.graphql from index.js you will need to do this:

`const user = importSchema('schema/user.graphql')`

[2019-08-27 14:01] FredyC opened #363 "Innocent comment causing error: Too few regex matches: null"
In our schema, there is a piece like this...

[code]

With `graphql-config` lib I am reading such a schema and it fails with

[code]

The obvious culprit is here...

https://github.com/prisma/graphql-import/blob/b6890a0379b764c9adbf43e651988cbcf5105add/src/index.ts#L72

I am not entirely sure what's the purpose of that. Why not to actually use that regex instead of matching strings like that? 😆

h

[2019-09-02 14:00] Glen-Moonpig commented on #39
I've just been stuck on this error for over an hour. Why do you even care what the file extension is? I'm telling the package my schema is in that file, the extension of that file is not important and should not be validated.

[2019-10-01 20:50] ratneshraval commented on #358
While researching, it looks like this can be resolved by using absolute path for `.graphql` file.
Example here: https://github.com/didaquis/react-graphql-apollo-example-server/blob/master/src/gql/schemas/index.js

[2019-10-01 23:29] thearabbit commented on #358
Thanks

[2019-10-01 23:29] #358 closed

[2019-10-02 22:00] ratneshraval opened #368 "Status of the repo"
Hi there,

This repo has been a huge help for me when using [prisma](https://github.com/prisma/prisma) and ability to import already generated types and extend them.

Scanning the repo here and looks like last non-bot commit was back in 2018. I see many PRs and issues open. I also noticed the redirect of this from prisma -> Urigo. Not sure what's the background there.

Just wanted to check and see

[2019-10-07 18:58] Urigo commented on #368
Hi @ratneshraval and thank you for commenting.

After transferring the repo to us, we wanted to give the community a chance to offer their perspective on the future direction, how you use it and what would you wish for next:
https://github.com/Urigo/graphql-import/issues/353

We are close to finishing a POC of the new versions and APIs for all the new libraries [we've transferred from Prisma](http

[2019-10-10 10:38] ralphchristianeclipse opened #370 "import * doesn't work with Root Fields"
Can you make import * work including root fields.
[code]
right now I'd have to do the above.

[2019-10-13 08:32] jsonmaur commented on #244
Any update on this? Still an issue when using `.gql` schema files.

[2019-10-16 23:11] ratneshraval commented on #368
@Urigo thank you for the response and pointing me to to the correct issue. I'll go ahead and close this.

[2019-10-16 23:11] #368 closed

[2019-10-17 14:49] k0d3d commented on #252
@t3rminus how did u do this.. can i cherry pick Input Types and other types from the generated prisma schema

[2019-10-17 22:01] t3rminus commented on #252
@k0d3d Sadly no. The problem I was trying to solve was having a single index file import all my separate schema files, but the input types weren't being included.

I only worked around it by loading and pre-combining the schema files myself, with some regex trickery to identify what was being imported from where. It's hacky, kind-of slow, and I don't recommend it.

[2019-11-11 20:26] mrfsb-usr commented on #286
I have the same problem, my scenario, look at my server implementation

`
const { ApolloServer, gql } = require('apollo-server-express')
const { importSchema } = require('graphql-import')
const express = require('express')
const app = express()
const routes = require('./routes')

initServer();

function initServer() {
    try {

        const mutationDefs = gql`
            scalar Upload

[2019-11-21 23:38] Globolobo commented on #353
We have just started doing a migration towards using graphs in our code-base. We use _graphql-import_  to take advantage of the SDL format in `.graphql` files, as well as the tooling that comes with those files.

This format provides a clear distinction between the server's graph, and the logic behind each field, making it more reasonable to contextualize.

The only real pain points I've experienc

[2019-11-23 10:39] amiiit commented on #286
I'm still trying to get the whole setup working, but perhaps the following workaround might be of use to someone:

[code]

Makes the toolset happy, because `scalar Upload` is part of the schema file, and so apollo server isn't complaining anymore about double definition of the scalar Upload

[2019-11-27 13:47] mrfsb-usr commented on #286
I will perform the tests, thank you very much!

[2019-11-30 12:32] enBonnet commented on #358
Hey thanks @ratneshraval and im solve this with `__dirname` instead of absolute path, example:
`const helloType = importSchema(`${__ dirname}/hello.schema.graphql`)`

[2019-12-02 23:36] MustKillBill commented on #286
@amiiit that doesn't work for me, I still get the error. I'm on version `0.7.1`

[2019-12-04 13:33] decebal opened #390 "When is the new release due ?"
My team is looking forward to using the latest graphql federation directives, do you guys have a status on a next release, I personally would love at least a minor release and if you need it, gladly offer my help towards making it happen.

[2019-12-08 18:15] taras commented on #256
We need to be able to do the same thing. We publish graphql schemas a npm packages. We would like to be able to import these into a single graphql package. One difference with our setup is that our packages have schema property in package.json that we use like an entry point. It's like `main` for JavaScript.

[2019-12-09 02:53] SachaG commented on #244
This doesn't seem to be fixed for me yet?

[2019-12-09 02:57] ardatan commented on #244
@SachaG It's not been released yet

[2019-12-09 13:47] decebal commented on #52
it appears that most of the community went for a simple `cp` of files into the dist folder..

[2019-12-12 06:15] aaalsubaie commented on #230
I have the same error but I have only one Scalar!

[2019-12-12 10:37] ma-jahn opened #395 "Import of Custom Schema Query / Mutation definition fails"
Hi,

i'm trying to integrate eslint-plugin-graphql to validate my queries against and SDL File.
Unfortunately the import fails since we have a custom schema definition.

[code]

When importing the sdl i receive the following

[code]

As you can see the schema definition is not being considered when building the GraphQLSchema. Our `Mutation` Type is being used as _mutationType instead of the actual

[2019-12-15 18:21] Urigo commented on #353
@Globolobo can you explain about the remote graphs you are referencing?
Are those 3rd party APIs?
Are those other modules inside the same codebase?

[2019-12-18 19:46] eadmundo commented on #390
Found this issue trying to get `graphql-import` to work with Apollo Federation! I see that there is #352 - which is merged and ready for release. Could we get a release of the package?

[2019-12-18 20:23] eadmundo commented on #390
Also happy to contribute time & effort to getting the repo ready for release! Thanks

[2019-12-20 01:44] Globolobo commented on #353
Are those 3rd party APIs?
Are those other modules inside the same codebase?

@Urigo I can't speak for everyone but, in my team's scenario it's both other modules within the same codebase, as well as APIs from different parts of the organization in different repos only available internally

[2019-12-31 12:13] ardatan commented on #395
Hi @ma-jahn !
In 1.0.0 beta release, we introduced a lot of changes including schema definition support;
Could you install `graphql-import@beta` to try new changes? Don't forget to modify your code regarding to the migration notes in `README`.
https://github.com/ardatan/graphql-import#updating-from-07x

[2019-12-31 12:14] ardatan commented on #390
Hi @ma-jahn !
In 1.0.0 beta release, we introduced a lot of changes including apollo federation support;
Could you install `graphql-import@beta` to try new changes? Don't forget to modify your code regarding to the migration notes in `README`.
https://github.com/ardatan/graphql-import#updating-from-07xHi @ma-jahn !
In 1.0.0 beta release, we introduced a lot of changes including schema definition s

[2019-12-31 12:14] ardatan commented on #370
Hi @ralphchristianeclipse  !
In 1.0.0 beta release, we introduced a lot of changes including a fix for this issue;
Could you install `graphql-import@beta` to try new changes? Don't forget to modify your code regarding to the migration notes in `README`.
https://github.com/ardatan/graphql-import#updating-from-07xHi @ma-jahn !
In 1.0.0 beta release, we introduced a lot of changes including schema de

[2019-12-31 12:16] ardatan commented on #355
Hi @ralphchristianeclipse  !
In 1.0.0 beta release, we introduced a lot of changes including this feature;
[code]
Could you install `graphql-import@beta` to try new changes? Don't forget to modify your code regarding to the migration notes in `README`.
https://github.com/ardatan/graphql-import#updating-from-07x

[2019-12-31 12:18] ardatan commented on #352
Hi @villesau !
In 1.0.0 beta release, we introduced a lot of changes including apollo federation support;
Could you install `graphql-import@beta` to try new changes? Don't forget to modify your code regarding to the migration notes in `README`.
https://github.com/ardatan/graphql-import#updating-from-07x

[2019-12-31 12:48] ardatan commented on #284
Hi @dan-cooke  !
In 1.0.0 beta release, we introduced a lot of changes. And the way we load files is changed in this beta version.
So could you install graphql-import@beta to try new changes? Don't forget to modify your code regarding to the migration notes in README.
https://github.com/ardatan/graphql-import#updating-from-07x

[2019-12-31 12:49] ardatan commented on #252
Hi @ccruz2886  !
In 1.0.0 beta release, we introduced a lot of changes. We changed the way the files get loaded and merged etc.
Could you install graphql-import@beta to try new changes? Don't forget to modify your code regarding to the migration notes in README.
https://github.com/ardatan/graphql-import#updating-from-07x

[2019-12-31 12:52] ardatan commented on #245
Hi @stephenh and @didaquis  !
In 1.0.0 beta release, we introduced a lot of changes including glob expressions support;
Could you install graphql-import@beta to try new changes? Don't forget to modify your code regarding to the migration notes in README.
https://github.com/ardatan/graphql-import#updating-from-07x

So you can load your files like below;

[code]

[2019-12-31 12:56] ardatan commented on #244
Hi @jloveric , @TobiasBales , @wingertge , @jsonmaur and @SachaG  !
In 1.0.0 beta release, we introduced a lot of changes including different methods to load your schema such as URL Endpoint, graphql/gql files, TS/JS code files, Prisma endpoint, Apollo Engine and JSON files.

Could you install `graphql-import@beta` to try new changes? Don't forget to modify your code regarding to the migration not

[2019-12-31 12:59] ardatan commented on #243
As @marcus-sa said, `graphql-import` loads GraphQL files using File System module of NodeJS which is not available in the browser. So, we use bundlers in client-side apps and it will be better to use a plugin for babel, webpack or rollup instead of `graphql-import`.

[2019-12-31 12:59] #243 closed

[2019-12-31 13:00] ardatan commented on #230
Hi @Fi1osof , @ShiChenCong and @aaalsubaie  !
In 1.0.0 beta release, we introduced a lot of changes including that fix related to the lack of `fields` in Scalar definitions.
Could you install `graphql-import@beta` to try new changes? Don't forget to modify your code regarding to the migration notes in `README`.
https://github.com/ardatan/graphql-import#updating-from-07x

[2019-12-31 13:01] ardatan commented on #225
I think this issue is not relevant anymore :)

[2019-12-31 13:01] #225 closed

[2019-12-31 13:03] ardatan commented on #191
Hi @ma-jahn !
In 1.0.0 beta release, we introduced a lot of changes including schema definition support (schema definition with `query`, `mutation` and `subscription` assignments;
Could you install `graphql-import@beta` to try new changes? Don't forget to modify your code regarding to the migration notes in `README`.
https://github.com/ardatan/graphql-import#updating-from-07x

You can also get the

[2019-12-31 13:13] ardatan commented on #49
@ericnograles Comments are deprecated in GraphQL as explained above. Closing this issue. Feel free to open a new one for further questions.

[2019-12-31 13:13] #49 closed

[2019-12-31 13:15] ardatan commented on #42
Hi @ma-jahn !
In 1.0.0 beta release, we introduced a lot of changes including extensions support in type definitions. This was an issue we were struggling in GraphQL Toolkit and we fixed it. Since GraphQL Import uses GraphQL Toolkit behind the scenes. The issue should be gone.

Could you install `graphql-import@beta` to try new changes? Don't forget to modify your code regarding to the migration n

[2019-12-31 13:20] ardatan commented on #39
Hi @jloveric , @TobiasBales , @wingertge , @jsonmaur and @SachaG  !
In 1.0.0 beta release, we introduced a lot of changes including different methods to load your schema such as URL Endpoint, graphql/gql files, TS/JS code files, Prisma endpoint, Apollo Engine and JSON files. And those files and sources of schema are parsed and validated in different ways thanks to GraphQL Toolkit which is used by

[2019-12-31 16:43] villesau commented on #352
Thanks @ardatan ! Unfortunately we postponed our federation plans so I'm not able to test it any time soon. I hope someone else who has faced this issue can report back if the changes works for them!

[2020-01-01 18:20] ardatan commented on #235
Hi @ellipticaldoor and @amille14  !
In 1.0.0 beta release, we introduced a lot of changes including this enhancement;
Could you install graphql-import@beta to try new changes? Don't forget to modify your code regarding to the migration notes in README.
https://github.com/ardatan/graphql-import#updating-from-07x

[2020-01-01 18:24] ardatan commented on #201
Hi @atten !
In 1.0.0 beta release, we introduced a lot of changes.
Could you install graphql-import@beta to try new changes? Don't forget to modify your code regarding to the migration notes in README.
https://github.com/ardatan/graphql-import#updating-from-07x

Let us know if your issue still persists.

[2020-01-01 18:25] ardatan commented on #190
Hi @gerardolima  !
In 1.0.0 beta release, we introduced a lot of changes including schema definition support;
Could you install graphql-import@beta to try new changes? Don't forget to modify your code regarding to the migration notes in README.
https://github.com/ardatan/graphql-import#updating-from-07x

[2020-01-01 18:25] ardatan commented on #182
Hi @jessicaxp  !
In 1.0.0 beta release, we introduced a lot of changes;
Could you install graphql-import@beta to try new changes? Don't forget to modify your code regarding to the migration notes in README.
https://github.com/ardatan/graphql-import#updating-from-07x

Let us know if the problem persists.

[2020-01-01 18:27] #27 closed

[2020-01-01 18:28] #43 closed

[2020-01-01 18:29] ardatan commented on #43
You can comment out `import` statements as @tjpeden suggests. Feel free to open a new issue if you have any problems.

[2020-01-01 18:29] #390 closed

[2020-01-01 18:33] ardatan commented on #363
@FredyC I think it would be better to use `'''` instead of `#` to prevent conflicts with import syntax. I also added a better error message in the beta version so you can try it out.

Also in 1.0.0 beta release, we introduced a lot of changes.
Could you install graphql-import@beta to try new changes? Don't forget to modify your code regarding to the migration notes in README.
https://github.com/ar

[2020-01-01 18:36] ardatan commented on #347
@artentica The correct syntax should be `import * from filename` without `"` but with `* from`.
I also added a better error message in the beta version so you can try it out.

Also in 1.0.0 beta release, we introduced a lot of changes.
Could you install graphql-import@beta to try new changes? Don't forget to modify your code regarding to the migration notes in README.
https://github.com/ardatan/gr

[2020-01-01 18:36] #347 closed

[2020-01-01 18:37] ardatan commented on #315
Hi @Flash619 @mrfrase3
In 1.0.0 beta release, we introduced a lot of changes including the support to import specific types other than root types.
Could you install graphql-import@beta to try new changes? Don't forget to modify your code regarding to the migration notes in README.
https://github.com/ardatan/graphql-import#updating-from-07x

Let us know if your issue still persists.

[2020-01-01 18:38] ardatan commented on #300
Hi @YannisMarios
In 1.0.0 beta release, we introduced a lot of changes with a lot of bug fixes.
Could you install graphql-import@beta to try new changes? Don't forget to modify your code regarding to the migration notes in README.
https://github.com/ardatan/graphql-import#updating-from-07x

Let us know if your issue still persists.

[2020-01-01 18:39] ardatan commented on #266
Hi @orefalo
Thank you for reporting this issue.
PRs are welcome to make this regex more flexible for different cases.

[2020-01-01 18:41] ardatan commented on #133
Hi @nikitaulshin !
In 1.0.0 beta release, we introduced a lot of changes including schema definition support.
Could you install graphql-import@beta to try new changes? Don't forget to modify your code regarding to the migration notes in README.
https://github.com/ardatan/graphql-import#updating-from-07x

Let us know if your issue still persists.

[2020-01-01 21:27] FredyC commented on #363
Import syntax in schema SDL? Not sure what that would be good for :)

Either way, I no longer work on the project and since it was a one-time problem, a comment was changed on the backend side. No big deal.

May I suggest adding a test case for that instead of "crossed-fingers" it should work? :) Should be fairly simple imo.

[2020-01-01 21:43] ardatan commented on #363
I think there is a misunderstanding :) I suggested you to use `'''` instead of `#` for your comments to prevent conflicts with `graphql-import`'s current import statements. I didn't mean any new method to define imports.
I see, what kind of tests do you mean?

[2020-01-02 06:38] FredyC commented on #363
@ardatan Well, the `'''` is fairly ugly and verbose, to be honest. The library shouldn't be forced to use either of those because it cannot handle something correctly imo.

I am not sure where is parsing happening in 1.x, but you have a test case in OP which should pass without an error.

[2020-01-06 03:56] stephenh commented on #245
@ardatan awesome, thanks!

I just tried the beta and got this type error:

[code]

When doing:

[code]

I.e. it looks like `importSchema` has a type called `GraphQLSchema` in its union result that apollo server (I'm using apollo-server-express) doesn't like/expect in its union type.

(I'm on apollo-server-express 2.9.15 and graphql 14.5.8, both of which are latest afaiu.)

[2020-01-06 07:35] ardatan commented on #245
@stephenh Could you try this version?
`graphql-import@1.0.0-9642d32.0`

[2020-01-06 14:17] stephenh commented on #245
Yep, that is working now.

Personally I had to turn off `forceGraphQLImport` b/c historically we've not been using the import statement, and instead assuming all of the files shared a global namespace.

Without `forceGraphQLImport: false`, somehow types were getting dropped, i.e. around this bit of code:

[code]

When `processImportSyntax` returned, `resultSource` would be a file for, say, `fooEnt

[2020-01-06 14:25] ardatan commented on #245
@stephenh GraphQL Import's behavior is to drop unused stuff because it is not a regular schema loader. If you don't use `import` statement, using GraphQL Import would be overkill.
You can check the better alternatives;
https://github.com/Urigo/merge-graphql-schemas#import-everything-from-a-specified-folder
https://github.com/ardatan/graphql-toolkit#file-loading-for-both-schema-and-resolvers

[2020-01-06 15:35] stephenh commented on #245
@ardatan ah great, thanks for the links!

[2020-01-06 15:37] stephenh commented on #245
@ardatan maybe add an FAQ/readme section on the `graphql-import` page with links to those? When I was first setting this up, googling for "graphql import" turns out a lot of things :-), and I picked `graphql-import` as the "most official sounding / looking" library and assumed it would/should support most of the common use cases. What you describe now, that this is very specifically for "if you wa

[2020-01-10 15:12] YannisMarios commented on #300
Hi, I haven't tried it because I finally ended up to use type-graphql with graphql-code-generator (https://graphql-code-generator.com)

[2020-01-10 15:13] #300 closed

[2020-01-13 19:50] dan-cooke commented on #284
We have since switched to `merge-graphql-schemas` as we don't even have to worry about importing.

I don't really have much time to test this out for you, but you are welcome to clone the reproduction repo and determine for yourself!

[2020-01-14 10:59] ardatan commented on #284
@dan-cooke I'm happy you are using `merge-graphql-schemas` which is another library we also maintain and it uses GraphQL Toolkit behind the scenes like GraphQL Import.

[2020-01-20 10:59] EhsanSarshar commented on #286
the error is because importSchema throw an error if it find type Upload used but not defined in Schema.
and if you add the type "scalar Upload" the importSchema will pass but apollo server will complain because apollo server will also add a "scalar Upload" by default. and now your schema have two "scalar Upload".
I think apollo server must check if type Upload not defined in schema then add it.

t

[2020-01-22 23:42] dalvarez-r opened #454 "Issues implementing library after v1.0.x beta update"
I've been using this library for a couple of months now.
I'm using "apollo-server-express" and had no issue with the library prior to this beta update.

Just today I ran across an issue as the one referenced in #244, where I had multiples schemas using Query, Mutation and Subscription root types on each of the schemas which was giving me problems because of the duplicity of this root types.  I tri

[2020-01-23 00:01] ardatan commented on #454
Just use async/await with function then :)
[code]

[code]

If you have any issues, feel free to open a new issue.

[2020-01-23 00:01] #454 closed

[2020-01-23 01:36] dalvarez-r commented on #454
Thanks to your help I figured the way to make it work!

It now also works (at least in my case) so that I can correctly use "extend" on my sub-level schemas!
Just a comment, I had to add an "await" on this part of your code:

[code]
Again, awesome library with awesome devs!

[2020-01-24 16:34] jjangga0214 opened #468 "Expected 2-3 arguments, but got 1."
Info: 1.0.0-beta.1

**Bug**

[code]

When using typescript, this throws an error `Expected 2-3 arguments, but got 1.ts(2554)`.
I believe this is a type bug, as additional arguments are intended to be optional, aren't they?

**Workaround**

Just add an empty object as second argument.

[code]

[2020-01-28 05:31] trevorr opened #484 "Imported directives on enum values are not included in the output"
Imported directives on enum values are not included in the output with v0.7.1 (and 1.0.0-beta.1).

Input files:

[code]

[code]

Expected output:

[code]

Actual output:

[code]

The `@enumValue` directive is not included in the output, which causes the schema to fail to build (e.g. with `buildASTSchema`). This appears to be caused by a straightforward omission in `collectNewTypeDefinitions`.

[2020-01-28 05:42] trevorr commented on #484
I've created a [fix against 0.7.1](https://github.com/ardatan/graphql-import/compare/v0.7.1...trevorr:v0.7.1-enum-value-directive?expand=1). However, there doesn't appear to be a branch for the release version (master is past 1.0.0-beta.1). Would it be possible to create a 0.7.2 release with this small change? 1.0 seems massively reorganized.

[2020-01-28 12:41] jjangga0214 commented on #315
This issue still happens with beta version.

[2020-01-28 12:48] jjangga0214 commented on #182
Why shouldn't `# import * from "file"` be used?
Does it have any issues?
It seems more flexible, so I'd like to say, let's support it!

[2020-01-28 12:59] jjangga0214 commented on #291
For Attempt 2, there's already an issue, #315

[2020-01-28 15:17] ardatan commented on #468
Fixed in `v1.0.0-beta.2`.

[2020-01-28 23:08] yanko-ivanov commented on #42
@ardatan Hey. I just stumbled onto the problem. Using ^1.0.0-beta.2, I have the following files:
0.Query.graphql (Named weirdly as to be loaded first, otherwise it doesn't even recognize the Query type. Irrelevant to this topic tho)
[code]

City.graphql
[code]

Now... the behaviour I'm getting, is that if the extend is in City.graphql, it's not recognized, judging by me dumping the typeDefs in the

[2020-02-03 09:41] chuter opened #508 "Import failed with Union type"
[code]

[2020-02-03 09:46] #508 closed

[2020-02-10 11:09] hyochan commented on #286
This issue makes `apollo-server` `upload` useless. I hope, I can see a full workaround. Tried all the above solution and still having the problem.

[2020-02-11 19:35] dkvilo opened #512 "Unable to find any GraphQL type definitions"
if you are using **babel-node** or **babel CLI** to build the source and you have the following folder structure error occurs

 - **src**
   - **graphql/**:
     - schema.graphql
     - user.graphql
   - **resolvers/**
   - **controllers/**
   - index.js
- package.json
...

![log](https://i.imgur.com/ri4J9fS.png)

Works fine for following
- **graphql/**:
  - schema.graphql
  - user.graphql
- **res

[2020-02-14 13:17] JexPY commented on #512
Any updates?

[2020-02-17 22:16] ChrisFieldsII commented on #512
I was able to get around this by using an absolute path with path.join(__dirname, 'schema.graphql'). My directory doesn't look exactly like yours but hopefully switching to absolute path fixes problem for now

[2020-02-17 22:27] dkvilo commented on #512
Hello,
Yes, I tried this approach before submitting the issue but wasn't working with my dir structure. finally, I end up with coping the .graphql files to the dist folder.

`"build": "babel src -d vendor && ncp src/graphql/schema.graphql vendor/graphql/schema.graphql"`

[2020-03-01 14:23] davidsonsns commented on #512
@ChrisFieldsII's solution worked well here. Thks!

[2020-03-04 19:34] mrtkprc opened #518 "typeDef.definitions.some error in 1.0.0-beta.2"
If I run the server with following settings within ``package.json``, I take ``TypeError: Cannot read property 'some' of undefined``. However, there is no problem after I change version of ``graphql-import`` to **0.7.1**

[code]

Output and trace of error.

[code]
[code]

[2020-03-04 19:42] #518 closed

[2020-03-05 14:41] ybrhue opened #519 "I am struggling with updating graphql-import to the latest version."
Hi, I am using node.js, and somehow I can't really manage to update my index.js.

For example, what would I need to change here: https://github.com/tonsaito/graphql-bff so that it is working with the latest version?

[2020-03-07 20:14] didaquis commented on #519
Take a look => https://github.com/ardatan/graphql-import#updating-from-07x

[2020-03-07 23:35] http-km opened #520 "Problem with import a schema.graphql"
I can't import my schema.graphql file in typeDefs on my schema.js

[code]
Here is my code (schema.js) looks so good, but in my terminal, I see the next error

But if I copy all types of my schema.graphql into a template string on the variable typeDefs the code its work again

[2020-03-08 03:08] ardatan commented on #520
importSchema returns promise so you need to resolve it.

[2020-03-09 13:46] obouchari commented on #520
I'm new to GraphQL, I have the following:
`
import { GraphQLServer } from "graphql-yoga";
import { importSchema } from "graphql-import";

const typeDefs = importSchema("./src/schema/schema.graphql");

const createServer = () =>
  new GraphQLServer({
    typeDefs,
    resolvers: {
      Mutation,
      Query
    },
    resolverValidationOptions: {
      requireResolversForResolveType: false
    },

[2020-03-09 15:02] ardatan commented on #520
You can just do the following

[code]

[2020-03-10 14:37] lynnic26 opened #522 "TypeError: Cannot read property 'location' of undefined"
[code]
version: graphql-import@v1.0.0-beta.2

[2020-03-10 17:37] surfjedi commented on #522
Yes I am having this same error if the schema.graphql is not a sibling of the file(main.ts) that has "const typeDefs = await importSchema('../schema.graphql');" in it...

But I can get it to work by removing "../" in the file path and copying the "schema.graphql" file to the same directory as main.ts..
as in this:
"const typeDefs = await importSchema('schema.graphql');

NOTE: @lynnic26 mine desire

[2020-03-10 17:44] surfjedi commented on #522
@lynnic26 actually just got this working use path/join:

import { join } from "path";
const typeDefs = await importSchema(join(__dirname, "../schema.graphql"));

[2020-03-11 16:42] lynnic26 commented on #522
Yes, I have figured out it.
anyway, thx

[2020-03-14 01:30] dacioromero opened #525 "Semver version number format"
`alpha` pre-releases [the semver spec](https://semver.org/) more closely. For example `1.0.0-130487b.0` would be better versioned as `1.0.0-alpha.247` (its the 248th alpha release) so that `^1.0.0-alpha.247` would match later versions. If git hashes are desired it should be put after a `+` so that it is parsed as build metadata.

Currently `1.0.0-beta.2` is tagged as both `beta` and `lastest`. If

[2020-03-14 01:35] dacioromero opened #526 "Bring back a synchronous API"
After version `0.7.1` the API was changed to return a Promise which is a breaking change for places where async is not an option (such as in class constructors). A synchronous version being brought back would be greatly appreciated.

[2020-03-17 16:05] ardatan commented on #526
Available in 1.0.0!

[2020-03-17 16:05] #526 closed

[2020-03-17 16:05] ardatan commented on #484
Available in 1.0.0!

[2020-03-17 16:05] #484 closed

[2020-03-17 16:05] ardatan commented on #468
Available in 1.0.0!

[2020-03-17 16:05] #468 closed

[2020-03-17 16:06] ardatan commented on #395
Available in 1.0.0!

[2020-03-17 16:06] #395 closed

[2020-03-17 16:06] ardatan commented on #370
Available in 1.0.0!

[2020-03-17 16:06] #370 closed

[2020-03-17 16:06] ardatan commented on #363
Available in 1.0.0!

[2020-03-17 16:06] #363 closed

[2020-03-17 16:06] ardatan commented on #355
Available in 1.0.0!

[2020-03-17 16:06] #355 closed

[2020-03-17 16:07] ardatan commented on #352
Available in 1.0.0!

[2020-03-17 16:07] #352 closed

[2020-03-17 16:07] ardatan commented on #343
Available in 1.0.0!

[2020-03-17 16:07] #343 closed

[2020-03-17 16:07] ardatan commented on #315
Available in 1.0.0!

[2020-03-17 16:07] #315 closed

[2020-03-17 16:07] ardatan commented on #286
Available in 1.0.0!

[2020-03-17 16:07] #286 closed

[2020-03-17 16:07] ardatan commented on #284
Available in 1.0.0!

[2020-03-17 16:07] #284 closed

[2020-03-17 16:07] ardatan commented on #256
Available in 1.0.0!

[2020-03-17 16:07] #256 closed

[2020-03-17 16:07] ardatan commented on #252
Available in 1.0.0!

[2020-03-17 16:07] #252 closed

[2020-03-17 16:07] ardatan commented on #245
Available in 1.0.0!

[2020-03-17 16:07] #245 closed

[2020-03-17 16:07] ardatan commented on #244
Available in 1.0.0!

[2020-03-17 16:07] #244 closed

[2020-03-17 16:07] ardatan commented on #235
Available in 1.0.0!

[2020-03-17 16:07] #235 closed

[2020-03-17 16:07] ardatan commented on #230
Available in 1.0.0!

[2020-03-17 16:07] #230 closed

[2020-03-17 16:08] ardatan commented on #133
Available in 1.0.0!

[2020-03-17 16:08] #133 closed

[2020-03-17 16:08] ardatan commented on #191
Available in 1.0.0!

[2020-03-17 16:08] #191 closed

[2020-03-17 16:08] ardatan commented on #190
Available in 1.0.0!

[2020-03-17 16:08] #190 closed

[2020-03-17 16:08] ardatan commented on #42
Available in 1.0.0!

[2020-03-17 16:08] #42 closed

[2020-03-17 16:09] ardatan commented on #16
Available in 1.0.0!

[2020-03-17 16:09] #16 closed

[2020-03-17 16:09] ardatan commented on #39
Available in 1.0.0!

[2020-03-17 16:09] #39 closed

[2020-03-17 16:09] ardatan commented on #525
Available in 1.0.0!

[2020-03-17 16:09] #525 closed

[2020-03-17 16:09] taras commented on #256
Thank you!

[2020-03-17 17:12] FinnFrotscher opened #530 "Field error while building schema on newest version."
the current version of this package throws:
[code]
fixed with:
`npm i graphql-import@1.0.0-130487b.0`

[2020-03-17 23:08] #522 closed

[2020-03-17 23:08] ardatan commented on #519
It will be fixed in v1.0.0!

[2020-03-17 23:08] #519 closed

[2020-03-17 23:09] ardatan commented on #530
@FinnFrotscher Could you share a reproduction?

[2020-03-17 23:10] ardatan commented on #520
`importSchema` returns a string like before. So you won't have the same issue after 1.0.0. Feel free to open a new issue if you have the problem.

[2020-03-17 23:10] #520 closed

[2020-03-17 23:13] ardatan commented on #153
Since 1.0.0 `cacheControl` is now considered a builtin directive so you wouldn't have that problem in 1.0.0! Feel free to open a new issue if the problem persists.

[2020-03-17 23:13] #153 closed

[2020-03-17 23:14] ardatan commented on #292
@jamesscaggs @tbsf is right. You don't have that input type in your schema. Closing the issue. If you still have any further problems, feel free to open a new one with a reproduction.

[2020-03-17 23:14] #292 closed

[2020-03-17 23:15] ardatan commented on #512
When you run `graphql-import` from your `dist/` directory, it throws that error because you don't have those graphql files in your `dist/` directory.
What you need to do is to move graphql files as suggested above.

[2020-03-17 23:15] #512 closed

[2020-03-17 23:17] ardatan commented on #291
I think that issue is fixed in v1.0.0! Feel free to open a new one if it still persists.

[2020-03-17 23:17] #291 closed

[2020-03-18 10:37] FinnFrotscher commented on #530
sorry, i have moved past the issue by locking a specific version.
I posted here to give you a heads up and provide a solution to anyone running into the same issue.
what i can tell you is that i use multiple layers of composition.
Top down:
I import all schema files recursively like this:
`importSchema("./../*.gql")`
I have one `schema.gql` file that contains a bunch of import statements like
[cod

[2020-03-20 02:02] miyi opened #533 "graghql-import@1.0.0 importSchema() expects 2-3 arguments"
importSchema() now requires 2 arguments. First is pointerOrPointers which is intuitive enough. What is the second argument? The function now requires at least 2 arguments. Not really sure how to use it.

[2020-03-20 02:13] ardatan commented on #533
Must be fixed in v1.0.1. Could you confirm?

[2020-03-20 05:04] miyi commented on #533
fixed thanks

[2020-03-20 05:04] #533 closed

[2020-03-23 13:34] francoisromain opened #537 "typescript errors with version 1.0.1"
Hello,

When I update from version 0.7.1 to 1.0.1, I have the following typesciprt errors:

[code]

Here is how I use `importSchema`:

[code]

How can I fix these errors?

Than you

[2020-03-23 14:06] ardatan commented on #537
Until we fix it, could you change your `tsconfig.json` file like below;
[code]

[2020-03-25 16:27] MichaelDeBoey opened #539 "CHANGELOG missing"
I just saw the package is updated to `v1.0.1`, but I can't find any CHANGELOG to check out the changes.

Would you be so kind to provide us with a decent CHANGELOG please? 🙂

Thanks for all your hard work @ardatan! 🙂

[2020-03-25 16:59] ardatan commented on #539
Done!

[2020-03-25 16:59] #539 closed

[2020-03-25 17:00] MichaelDeBoey commented on #539
Thanks @ardatan! 👊

[2020-03-29 00:46] MichaelDeBoey commented on #539
@ardatan Could you also add a changelog for `v1.0.0` please?

At this point we can't see what's causing the breaking change.
Thanks!

[2020-03-29 06:33] ardatan commented on #539
There is no much difference between those two versions. And there is no breaking change but internal refactor.

[2020-03-29 11:16] MichaelDeBoey commented on #539
Still would be helpful for other people to see this in the changelog I think. 🙂

[2020-03-29 13:27] ardatan commented on #539
Ok I added :)

[2020-03-29 14:42] MichaelDeBoey commented on #539
Thanks @ardatan! 👊

[2020-04-08 01:12] gajus opened #562 "Drop @graphql-toolkit/prisma-loader dependency"
`@graphql-toolkit/prisma-loader@0.9.8` depends on `prisma-yml@1.34.10`, which depends on `http-proxy-agent@2.1.0`, which makes HTTP proxies unusable.

Related issue:

* https://github.com/sindresorhus/got/issues/1039

[2020-04-08 01:14] gajus commented on #562
For others stuck here, the last working version of graphql-import is v0.7.1.

[2020-04-08 10:57] ardatan commented on #562
Fixed in v1.0.2

[2020-04-08 10:57] #562 closed

[2020-04-10 22:22] zvictor opened #565 "the order of the files give different results"
I am facing errors while using graphql-import that vary depending on how I am calling the `importSchema` function.

First, I created a directory with 3 files, all containing valid graphql schemas:
* base.qll
* User.gql
* Query.gql

Then I tried calling `importSchema` in multiple ways, but all of them showed problems. For each of the following `pointerOrPointers `, these are the results I got:
* `[

[2020-04-10 22:32] ardatan commented on #565
Could you remove `#import` from the beginning of the file and try again?

[2020-04-11 07:04] zvictor commented on #565
Removing `# import` gives me:

* `['base.gql', 'User.gql', 'Query.gql']` --> Renders only base.gql
* `['base.gql', 'Query.gql']` --> Renders only base.gql
* `['base.gql', 'User.gql']` --> Renders only base.gql
* `'*.gql'` --> Throws an error
* `['User.gql', 'base.gql']` --> Throws an error
* `['Query.gql', 'base.gql']` --> Throws an error
* `['Query.gql', 'User.gql', 'base.gql']` --> Throws an err

[2020-04-11 09:03] thearabbit opened #566 "Unable to find any GraphQL type definitions for the following pointers (Meteor + Apollo)"
I base on `Meteor Apollo Vue`.
My Code
[code]

Startup file
[code]

Get error
[code]

Please help me

[2020-04-11 12:17] zvictor commented on #565
I started writing a reproducible to what I thought was a different issue, but it seems after all to actually be the same one. So, here we have another but simpler reproducible of this issue: https://github.com/zvictor/graphql-import-issue-565

[2020-04-11 12:49] ardatan commented on #566
Try to give absolute path because Meteor has a bundler under the hood which changes the beginning path of the application

[2020-04-11 12:50] #566 closed

[2020-04-11 13:04] ardatan commented on #565
Providing multiple sources has some bugs right now. Until we fix it, I recommend you to use single endpoint which is GraphQL Import's main strategy or use https://github.com/ardatan/graphql-toolkit#-file-loading-for-both-schema-and-resolvers for now because it seems you don't need `import` syntax at all.

[2020-04-11 13:17] zvictor commented on #565
Unfortunately things are not that simple on my side. I am using your code inside a framework I am building, so it needs to be quite flexible 😕

Given that I am building something to work with faunadb's graphql api, I need to always append a file with generic types that already exist inside fauna, but are not defined on the user's code.

You can see my implementation at

https://github.com/zvictor/

[2020-04-12 00:01] thearabbit commented on #566
Very thanks for your reply 👍

[2020-04-12 14:00] #530 closed

[2020-05-03 01:55] flexlee commented on #370
The `import *` still doesn't work in 1.0.2. I have to
[code]
rather than
[code]

[2020-05-03 11:04] ardatan commented on #370
@flexlee Could you open a seperate issue with a minimal reproduction? Thanks.

[2020-05-04 04:39] brandonchinn178 commented on #565
FYI just manually doing this works for me
[code]

it might be something to do with the `mergeTypeDefs` options?

[2020-05-10 13:13] xhostcom opened #588 "Error not a function?"
I am getting error with this, says importSchema is not a function?

const typeDefs = importSchema('./schema.graphql');
                 ^

TypeError: importSchema is not a function

Any tips on this at all?

Thanks

[2020-05-10 13:30] ardatan commented on #588
Could you create a reproduction?

[2020-05-10 13:34] xhostcom commented on #588
Hi yes all code is here, in the server express index file:

const express = require('express');
const { ApolloServer } = require('apollo-server-express');
const importSchema = require('graphql-import');
const makeExecutableSchema = require ('graphql-tools');
const graphqlHTTP = require('express-graphql');

const typeDefs = importSchema('./schema.graphql');
const resolvers = {};
const middleware =

[2020-05-10 13:41] ardatan commented on #588
It's supposed to be `const { importSchema } = require('graphql-import');` not `const importSchema = require('graphql-import')` It is a function inside the module.

[2020-05-10 13:41] #588 closed

[2020-05-12 11:57] antogyn opened #589 "When using the "extend" keyword only, types aren't automatically imported"
Hey,

When using `extend` with a type, if it isn't anywhere in the schema without `extend`, input and return types used in its fields and the type itself aren't in the final schema unless explicitly imported.

This is a problem in federated services which sometimes only extend certain types.

[code]

[code]

schema after importing `schema.graphql` (`Test` is absent):
[code]

Adding `type Query { a

[2020-06-10 09:21] francoisromain opened #601 "[question] migrate from graphql-import to graphql-tools with graphql's `buildSchema`"
Hello,

I have seen the [migration instructions to graphql-tools](https://www.graphql-tools.com/docs/migration-from-import/), but my config is a bit different.

currently I have

[code]

I tried

[code]

But there is a typescript error

[code]

What is the correct way to do it?

Thank you

[2020-06-10 09:48] ardatan commented on #601
@francoisromain `loadSchemaSync` already returns `GraphQLSchema` so you don't need to call `buildSchema`. You can just do;
[code]

[2020-06-10 11:09] francoisromain commented on #601
@ardatan thank you for your answer. Typescript does not make an error anymore.

now, there is an other error:

[code]

My schema is split in different files.
With `graphql-import`, I was importing all the files into `index.graphql` with comments like so:

[code]

What is the new way to do it?

[2020-06-10 11:18] ardatan commented on #601
Could you share a reproduction in a CodeSandbox project or a GitHub repo?

[2020-06-10 13:16] francoisromain commented on #601
the error is caused by circular dependencies in `graphql-tools`.

here is the repro and the description of the bug: https://github.com/francoisromain/graphql-tools-config-debug

thank you

[2020-06-10 13:31] ardatan commented on #601
@francoisromain It cannot find `Enterprise` here because it is not imported;
https://github.com/francoisromain/graphql-tools-config-debug/blob/master/src/api/schemas/users.graphql#L5
So `User` cannot be found in here as well;
https://github.com/francoisromain/graphql-tools-config-debug/blob/master/src/api/schemas/enterprises.graphql#L3

[2020-06-10 14:21] francoisromain commented on #601
@ardatan thank you! I understand and don't have the import error anymore.
but… I still have an error :sweat_smile:

This time I have 2 files: `index.graphql` and `territoires.graphql`.

index.graphql :

[code]

territoires.graphql

[code]

The error is

[code]

If I don't use a separate file and put everything in `index.graphql` like so, there is no error:

[code]

What am I doing wrong?

[2020-06-10 16:45] ardatan commented on #601
@francoisromain Could you update your reproduction with your last scenerio?
Thanks!

[2020-06-10 17:41] francoisromain commented on #601
I updated the repo with this error: https://github.com/francoisromain/graphql-tools-config-debug
 :pray:

[2020-06-15 12:57] francoisromain commented on #601
Hello @ardatan I see the issue is still marked as `waiting for answer`. Can I do something more about it?

[2020-06-15 13:00] ardatan commented on #601
@francoisromain I removed the label. Working on it! Thanks for the reproduction :)

[2020-07-15 12:24] francoisromain commented on #601
I re-opened the issue here: https://github.com/ardatan/graphql-tools/issues/1782

[2020-07-15 12:24] #601 closed, assigned to nobody

[2020-07-20 21:54] fullstackstef opened #602 "Error: Query was already defined and imported as a type, check the docs for extending types"
On `nexus dev`, I receive this issue:

`1 ✕ app unhandledRejection
       | error  Error: Query was already defined and imported as a type, check the docs for extending types
       |            at extendError (/Users/stefantrivuncic/Desktop/BelayMe/Code_Base/belayMe/node_modules/@nexus/schema/dist/builder.js:968:12)
       |            at SchemaBuilder.addType (/Users/stefantrivuncic/Desktop/Bela

[2020-07-20 21:55] #602 closed, assigned to nobody

[2020-09-24 14:36] zvictor commented on #565
migrating from @graphql-toolkit to @graphql-tools has solved the issue to me, plus a [customisation on the graphql-loader](https://github.com/zvictor/faugra/commit/c4df9bbce35c26732b4b2842df64fde6023db335#diff-14ef994fa167d355bdaf9b44add54b87).

[2020-09-24 14:36] #565 closed

[2020-11-03 16:13] Dev-Addict commented on #286
I was having the same problem and by reading @hyochan comment i found out it's because of the name of scalar we put.
you can easily fix the problem by renaming the scalar. what i did was i renamed it to UploadFile and this fixed my problem